<!-- BEGIN PORTLET -->
<!--<div class="col-md-12">-->
<div ng-repeat="results in searchList">
    <div ng-if="results != ''">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">{{results[0].class}}</span>
                    <span class="caption-helper hide">weekly stats...</span>
                </div>
            </div>
            <div class="portlet-body">
                <!--                    <div class="row number-stats margin-bottom-30">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="stat-left">
                                                <div class="stat-chart">
                                                    &lt;!&ndash; do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break &ndash;&gt;
                        <div id="sparkline_bar"></div>
                    </div>
                    <div class="stat-number">
                        <div class="title">
                            Total
                        </div>
                        <div class="number">
                            2460
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="stat-right">
                    <div class="stat-chart">
                        &lt;!&ndash; do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break &ndash;&gt;
                        <div id="sparkline_bar2"></div>
                    </div>
                    <div class="stat-number">
                        <div class="title">
                            New
                        </div>
                        <div class="number">
                            719
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="uppercase">
                            <th colspan="2">
                                <span sorter sort="title" filter="filter">{{i18n.title}}</span>
                            </th>
                        </tr>
                        </thead>
                        <tr ng-repeat="item in results">
  <!--                          <td class="fit">
                                <img bos-ava contact="item" class="user-pic" h="31" w="31">
                            </td>-->
                            <td>
                                <a href="#/{{item.class.toLowerCase()}}/{{item.id}}"
                                   class="primary-link">{{item.title}}</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!--</div>-->
<!-- END PORTLET -->