<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
<!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
<!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->

<form class="search-form search-form-expanded" name="searchForm" ng-submit="runSearch(searchForm)">
    <a href="javascript:;" class="remove"></a>

    <div class="input-group">
<!--        <i ng-show="loadingSearch" class="glyphicon glyphicon-refresh"></i>-->
        <input type="text" ng-model="asyncSelected" typeahead="search as search.title for search in lookUp($viewValue)"
               placeholder="{{i18n.search}}..." typeahead-loading="loadingSearch" typeahead-min-length="2"
               typeahead-on-select="selectSearch($item, $model, $label)" name="typeahead" class="form-control"/>
                        <span class="input-group-btn">
                            <button class="btn submit" type="submit">
                                <i ng-class="{'icon-magnifier':!loadingSearch,'fa fa-spinner fa-spin':loadingSearch}"></i>
                            </button>
                        </span>
    </div>

   <!-- <div class="input-group">
        <input type="text" ng-model="searchResult" placeholder="{{i18n.search}}..."
               typeahead-loading="loadingSearch" typeahead-on-select="selectSearch($item, $model, $label)"
               typeahead="search as search.title for search in lookUp($viewValue)" typeahead-min-length="2"
               typeahead-wait-ms="10" class="form-control" name="query">
                        <span class="input-group-btn">
                            <button class="btn submit" type="submit">
                                <i ng-class="{'icon-magnifier':!loadingSearch,'fa fa-spinner fa-spin':loadingSearch}"></i>
                            </button>
                        </span>
    </div>-->
</form>
<!--<div ui-view class="profile-content fade-in-up">
</div>-->
<!-- END RESPONSIVE QUICK SEARCH FORM -->


