<!-- BEGIN PORTLET -->
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption caption-md">
            <i class="icon-bar-chart theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase">Your Activity</span>
            <span class="caption-helper hide">weekly stats...</span>
        </div>
        <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
                <label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                    <input type="radio" name="options" class="toggle" id="option1">Today</label>
                <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                    <input type="radio" name="options" class="toggle" id="option2">Week</label>
                <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                    <input type="radio" name="options" class="toggle" id="option3">Month</label>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row number-stats margin-bottom-30">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="stat-left">
                    <div class="stat-chart">
                        <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                        <div id="sparkline_bar"></div>
                    </div>
                    <div class="stat-number">
                        <div class="title">
                            Total
                        </div>
                        <div class="number">
                            2460
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="stat-right">
                    <div class="stat-chart">
                        <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                        <div id="sparkline_bar2"></div>
                    </div>
                    <div class="stat-number">
                        <div class="title">
                            New
                        </div>
                        <div class="number">
                            719
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-scrollable table-scrollable-borderless">
            <div class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light">
                    <thead>
                    <tr class="uppercase">
                        <th colspan="2">
                            <i class="icon-user font-blue"></i>
                            <span sorter sort="contact.fullName" filter="filter" paging="pager">{{i18n.domain.contact.fullName}}</span>
                        </th>
                        <th>
                            <i class="icon-wrench font-blue"></i>
                            <span sorter sort="position" filter="filter"
                                  paging="pager">{{i18n.domain.manager.position[0]}}</span>
                        </th>
                        <th>
                            <i class="icon-screen-smartphone"></i> {{i18n.fieldTypes.PHONE.singular}}
                        </th>
                        <th>
                            <i class="icon-envelope"></i> Email
                        </th>
                        <th><span sorter sort="contact.dateCreated" filter="filter"
                                  paging="pager">{{i18n.dateCreated}}</span></th>
                    </tr>
                    </thead>
                    <tr ng-repeat="manager in data" ng-mouseover="table.hover=manager.id"
                        ng-mouseleave="table.hover=-1">
                        <td class="fit">
                            <img bos-ava contact="manager.contact" class="user-pic" h="31" w="31">
                        </td>
                        <td>
                            <a href="#/manager/{{manager.id}}/home" class="primary-link">{{manager.contact.fullName}}</a>
                        </td>
                        <td>
                            {{manager.position}}
                        </td>
                        <td>
                            <span
                                    ng-repeat="field in manager.contact.fields | filter:{type:'PHONE'}">{{field.value}}<br></span>
                        </td>
                        <td>
                            <span
                                    ng-repeat="field in manager.contact.fields | filter:{type:'EMAIL'}">{{field.value}}<br></span>
                        </td>
                        <td>
                            <span class="bold theme-font">{{manager.contact.dateCreated | date:'medium'}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div bos-pager></div>
    </div>
    <!-- END PORTLET -->