<table class="table table-striped table-bordered table-advance table-hover">
    <thead>
    <tr>
        <th>{{i18n.domain.contact.photo}}</th>
        <th><i class="icon-user font-blue"></i>
            <span sorter sort="contact.fullName" filter="filter" paging="pager">{{i18n.domain.contact.fullName}}</span>
        </th>
        <th><i class="icon-wrench font-blue"></i>
            <span sorter sort="position" filter="filter" paging="pager">{{i18n.domain.manager.position}}</span></th>
        <th><i class="icon-screen-smartphone"></i> {{i18n.fieldTypes.PHONE.singular}}</th>
        <th><i class="icon-envelope"></i> Email</th>
        <th><span sorter sort="contact.dateCreated" filter="filter" paging="pager">{{i18n.dateCreated}}</span></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="manager in data" ng-mouseover="table.hover=manager.id" ng-mouseleave="table.hover=-1">
        <td width="5%">
            <a ng-href="/show-manager/{{manager.id}}">
                <div ng-if="manager!=null" bos-ava contact="manager.contact" height="45" width="45"></div>
            </a>
        </td>
        <td width="15%"><a ng-href="/show-manager/{{manager.id}}">{{manager.contact.fullName}}</a></td>
        <td width="15%">{{manager.position}}</td>
        <td width="10%"><span
                ng-repeat="field in manager.contact.fields | filter:{type:'PHONE'}">{{field.value}}<br></span></td>
        <td width="15%"><span
                ng-repeat="field in manager.contact.fields | filter:{type:'EMAIL'}">{{field.value}}<br></span></td>
        <td width="10%" align="center">{{manager.contact.dateCreated | date:'medium'}}</td>
    </tr>
    </tbody>
</table>
<div bos-pager></div>