<div class="row profile">
    <div class="col-md-3">

        <ul class="list-unstyled profile-nav" style="margin-bottom: 1px">
            <li>
                <div ng-if="manager!=null" bos-big-avatar man="manager" h="820" w="674"
                     class="img-responsive" show-link="true"></div>
                <!--<img src="{{getBigImage(profile)}}" class="img-responsive" alt="{{manager.contact.fullName}}" height="820" width="674"/>-->
                <a href="#" class="profile-edit"> {{profile.contact.fbUrl}} </a>
            </li>
            <!--<li>-->
            <!--<a href="#"> Проекти </a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--Повідомлення <span> 3 </span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#"> Налаштування </a>-->
            <!--</li>-->
        </ul>
        <ul class="ver-inline-menu tabbable margin-bottom-10">
            <li ng-class="{active: tab == 0}">
                <a href="#" ng-click="tab = 0"><i class="fa fa-info"></i> {{i18n.contactInfo}} </a>
                <span class="after"></span>
            </li>
            <li ng-class="{active: tab == 1}">
                <a href="#" ng-click="tab = 1"><i class="fa fa-calendar"></i> {{i18n.ACTIVITY}} </a>
            </li>
            <li ng-class="{active: tab == 2}">
                <a href="#" ng-click="tab = 2"><i class="fa fa-envelope"></i> {{i18n.ACCOUNTS}} </a>
            </li>
            <!--<li ng-class="{active: tab == 3}">-->
            <!--<a href="#" ng-click="tab = 3"><i class="fa fa-tasks"></i> {{i18n.PROJECTS}} </a>-->
            <!--</li>-->
        </ul>
    </div>
    <div class="col-md-9">
        <div ng-show="tab == 0">
            <div ng-include="'/bos-app/actors/manager/bricks/show/info.html'"></div>
        </div>
        <div ng-show="tab == 1">
            <div bos-feeds></div>
        </div>
        <div ng-show="tab == 2">
            <div bos-accounts></div>
        </div>
    </div>
</div>
