.nav > li > a:hover {
    cursor: pointer;
}

.page-quick-sidebar-wrapper {
    width: 310px;
    right: -310px;
}

.feeds li .col3 {
    float: left;
    width: 150px;
    margin-left: -150px;
}

.feeds li .col3 > .date {
    padding: 4px 9px 5px 4px;
    text-align: right;
    font-style: italic;
    color: #c1cbd0;
}

.done {
    text-decoration: line-through;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.top-news {
    color: #fff;
    margin: 0 0;
}

.tabbable-custom > .nav-tabs > li.active {
    border-top: 3px solid #169ef4 !important;
}

.tabbable-line > .nav-tabs.blue > li.open, .tabbable-line > .nav-tabs.blue > li:hover {
    border-bottom: 4px solid #66bff4;
}

.tabbable-line > .nav-tabs.blue > li.active {
    border-bottom: 4px solid #169ef4;
    position: relative;
}

.tabbable-line > .nav-tabs > li.active.green {
    border-bottom: 4px solid #51f32e;
    position: relative;
}

.tabbable-line > .nav-tabs > li.open.green, .tabbable-line > .nav-tabs > li.green:hover {
    border-bottom: 4px solid #a9f492;
}

.tabbable-line > .nav-tabs > li.active.red {
    border-bottom: 4px solid #f31712;
    position: relative;
}

.tabbable-line > .nav-tabs > li.open.red, .tabbable-line > .nav-tabs > li.red:hover {
    border-bottom: 4px solid #f4a3a3;
}

.tabbable-line > .nav-tabs > li.active.yellow {
    border-bottom: 4px solid #f3c42b;
    position: relative;
}

.tabbable-line > .nav-tabs > li.open.yellow, .tabbable-line > .nav-tabs > li.yellow:hover {
    border-bottom: 4px solid #f4e096;
}

/*.page-breadcrumb.breadcrumb > li.bos-btn-group {*/
/*left: -10px;*/
/*position: relative;*/
/*margin-top: -8px;*/
/*margin-bottom: -8px;*/
/*}*/

.page-breadcrumb.breadcrumb > li.btn-group {
    /*right: 15px;*/
    /*position: absolute;*/
    right: 10px;
    position: relative;
    margin-top: -8px;
}

.table .btn-group .btn {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px !important;
}

.search-form-default {
    margin-top: -15px;
    margin-bottom: 10px;
    background: transparent;
    padding: 5px 0px;
}

.nav-tabs, .nav-pills {
    margin-left: 15px;
}

/*Quick bar animations*/

.page-quick-sidebar-nav {
    /*position: absolute;*/
    top: 0px;
    z-index: 1000;
}

.page-quick-sidebar-chat-user-form {
    position: fixed;
    bottom: 0px;
}

/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.repeated-item.ng-enter, .repeated-item.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
/*
.repeated-item.ng-leave {
  -webkit-animation:0.1s my_animation;
  -moz-animation:0.1s my_animation;
  -o-animation:0.1s my_animation;
  animation:0.1s my_animation;
}
*/

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}