<ul class="media-list">
    <li ng-repeat="comment in data" class="media">
        <a class="pull-left" href="#">
            <div ng-if="managerList[comment.author.id]!=null" bos-ava contact="managerList[comment.author.id].contact"
                 height="27" width="27" class="todo-userpic"></div>
        </a>

        <div class="media-body todo-comment">
            <!--<button type="button" class="todo-comment-btn btn btn-circle btn-default btn-xs">&nbsp;-->
            <!--{{i18n.domain.task.toAnswer}} &nbsp;</button>-->
            <p class="todo-comment-head">
                <span class="todo-comment-username">
                    <a ng-href="/show-manager/{{comment.author.id}}">{{managerList[comment.author.id].contact.fullName}}</a></span>
                &nbsp; <span
                    class="todo-comment-date">{{comment.dateCreated|date:'medium'}}</span>
            </p>

            <p class="todo-text-color"> {{comment.text}} </p>
            <!-- Nested media object -->
            <!--<div class="media">-->
            <!--<a class="pull-left" href="#">-->
            <!--<img class="todo-userpic" src="../../assets/admin/layout/img/avatar4.jpg"-->
            <!--width="27px" height="27px">-->
            <!--</a>-->

            <!--<div class="media-body">-->
            <!--<p class="todo-comment-head">-->
            <!--<span class="todo-comment-username">Carles Puyol</span> &nbsp; <span-->
            <!--class="todo-comment-date">17 Sep 2014 at 4:30pm</span>-->
            <!--</p>-->

            <!--<p class="todo-text-color">-->
            <!--Thanks so much my dear!-->
            <!--</p>-->
            <!--</div>-->
            <!---->
            <!--</div>-->
        </div>
    </li>
    <li class="media">
        <div ng-if="profile!=null" bos-ava contact="profile.contact" h="27" w="27"
             class="todo-userpic pull-left"></div>
        <form ng-submit="postComment(comment)">
            <div class="media-body">
                <textarea cols="25" ng-model="comment.text" class="form-control todo-taskbody-taskdesc" rows="3"
                          placeholder="Введіть коментар..."></textarea>

                <pagination total-items="count" ng-model="pager.currentPage" max-size="pager.pagerSize"
                            items-per-page="filter.max" boundary-links="true" ng-change="reload()"
                            class="pagination-sm"></pagination>
                <button type="submit" class="pull-right btn btn-sm btn-circle green-haze margin-top-10"> &nbsp;
                    {{i18n.domain.task.toComment}}
                    &nbsp; </button>
            </div>
        </form>
    </li>
</ul>


