<div class="portlet light bg-inverse">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs font-green-haze"></i>
            <span class="caption-subject bold font-green-haze uppercase">{{i18n.clientInfo}}</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row static-info">
            <div class="col-md-5 name">
                {{i18n.domain.contact.fullName}}:
            </div>
            <div class="col-md-7 value">
                {{lead.contact.fullName}}
            </div>
        </div>
        <div ng-if="deal.lead.company" class="row static-info">
            <div class="col-md-5 name">
                {{i18n.title}} {{i18n.domain.company.name[3]}}:
            </div>
            <div class="col-md-7 value">
                {{lead.company.title}}
            </div>
        </div>
    </div>
</div>