<div class="row">
    <div class="col-md-6">
        <div class="portlet light">
            <span class="caption-subject bold font-blue-madison uppercase">Lead Information</span>
            <!-- STAT -->
            <div class="item-details">
                <img class="item-pic" src="../../assets/admin/layout3/img/avatar4.jpg">
                <a href="" class="item-name primary-link">Nick Larson</a>
                <span class="item-label">3 hrs ago</span>
            </div>
            <!-- END STAT -->
            <h4 class="profile-desc-title">{{lead.contact.fullName}}</h4>
            <h4 class="profile-desc-title">Creator: <a ng-href="#/manager/{{lead.author.id}}">
                {{lead.author.contact.fullName}}</a>
            </h4>
                <span class="profile-desc-text">
        <ul class="list-inline">
            <li>
                <i class="icon-calendar"></i> {{lead.contact.dateCreated|date:'shortDate'}}
            </li>
            <li ng-if="lead.company!=null">
                <i class="icon-briefcase"></i> {{lead.company.title}}
            </li>
            <li ng-if="lead.position!=null">
                <i class="icon-wrench"></i> {{lead.position}}
            </li>
            <li>
                <i class="icon-magnet"></i> {{i18n.sources[lead.source].ua}}
            </li>
        </ul> </span>

            <div bos-contact-info contact="lead.contact"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet light">
            <span class="caption-subject bold font-blue-madison uppercase">
                            Lead Information </span>
            <!-- STAT -->
            <div class="row list-separated profile-stat">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="uppercase profile-stat-title">
                        1{{lead.info.deals}}
                    </div>
                    <div class="uppercase profile-stat-text">
                        Deals
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="uppercase profile-stat-title">
                        1{{lead.info.calls}}
                    </div>
                    <div class="uppercase profile-stat-text">
                        Calls
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="uppercase profile-stat-title">
                        1{{lead.info.meets}}
                    </div>
                    <div class="uppercase profile-stat-text">
                        Meetings
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="uppercase profile-stat-title">
                        1{{lead.info.money}}
                    </div>
                    <div class="uppercase profile-stat-text">
                        Invoices
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>