<div class="row">
    <div class="col-md-8 profile-info">
        <h1>{{lead.contact.fullName}}</h1>

        <p>{{lead.description}}</p>

        <ul class="list-inline">
            <li>
                <i class="icon-calendar"></i> {{lead.contact.dateCreated|date:'shortDate'}}
            </li>
            <li ng-if="lead.company!=null">
                <i class="icon-briefcase"></i> {{lead.company.title}}
            </li>
            <li ng-if="lead.position!=null">
                <i class="icon-wrench"></i> {{lead.position}}
            </li>
            <li>
                <i class="icon-magnet"></i> {{i18n.sources[lead.source].ua}}
            </li>
        </ul>

        <div bos-contact-info contact="lead.contact"></div>
    </div>
    <!--end col-md-8-->
    <div class="col-md-4">
        <div class="portlet sale-summary">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-notebook font-green-haze"></i>
                    <span class="caption-subject bold font-green-haze uppercase">{{i18n.INFO}}</span>
                </div>
            </div>
            <div class="portlet-body">
                <ul class="list-unstyled">
                    <li>
                        <span class="sale-info">{{i18n.DEALS}}<i class="fa fa-img-up"></i></span>
                        <span class="sale-num">{{lead.info.deals}}</span>
                    </li>
                    <li>
                        <span class="sale-info">{{i18n.CALLS}}<i class="fa fa-img-down"></i></span>
                        <span class="sale-num">{{lead.info.calls}}</span>
                    </li>
                    <li>
                        <span class="sale-info">{{i18n.MEETINGS}}<i class="fa fa-img-up"></i></span>
                        <span class="sale-num">{{lead.info.meets}}</span>
                    </li>
                    <li>
                        <span class="sale-info">{{i18n.MONEY}}</span>
                        <span class="sale-num">{{lead.info.money | currency}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--end col-md-4-->
</div>
