<form class="form-horizontal">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-2">{{i18n.when}}</label>

                <div class="col-md-10">
                    <div class="input-group">
                        <div bos-date-picker date="alarm.alarmDate"></div>
					<span class="input-group-btn">
                        <button type="button" ng-click="alarm.target = task.author; add(alarm)"
                                class="btn blue" tooltip="{{i18n.ADD}} {{i18n.domain.task.alarm.toAuthor}}">
                            <i class="fa fa-magic"></i>
                        </button>
                         <button type="button" ng-click="alarm.target = task.responsible; add(alarm)"
                                 class="btn green" tooltip="{{i18n.ADD}} {{i18n.domain.task.alarm.toResponsible}}">
                             <i class="fa fa-graduation-cap"></i>
                         </button>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-2">{{i18n.whom}}</label>

                <div class="col-md-10">
                    <div class="input-group">
                        <div class="input-icon">
                            <i ng-class="{'icon-user':!loadingWhom,'fa fa-spinner fa-spin':loadingWhom}"></i>
                            <input type="text" ng-model="alarm.target" placeholder="{{i18n.domain.task.participant}}"
                                   typeahead="manager as manager.contact.fullName for manager in findManagerByName($viewValue)"
                                   typeahead-loading="loadingWhom" class="form-control">
                        </div>
                    <span class="input-group-btn">
						<button ng-click="add(alarm)" tooltip="{{i18n.ADD}}" class="btn green" type="button">
                            <i class="fa fa-plus"></i>
                        </button>
					</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<h3 class="form-section">{{i18n.domain.task.alarm.name}}</h3>
<table class="table table-striped table-bordered table-advance table-hover">
    <thead>
    <tr>
        <th>{{i18n.whom}}</th>
        <th>{{i18n.when}}</th>
        <th width="5%" align="center"><i class="fa fa-trash-o"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="alarm in data">
        <td width="40%">
            {{managerList[alarm.target.id].contact.fullName}}
        </td>
        <td>{{alarm.date|date:'dd MMMM yyyy HH:mm'}}</td>
        <td width="5%"><a href="#" ng-click="remove(alarm)" class="btn btn-circle btn-icon-only red">
            <i class="fa fa-trash-o"></i></a>
        </td>
    </tr>
    </tbody>
</table>