<form class="row margin-bottom-10" ng-submit="add(participation)">
    <div class="col-md-4">
        <div class="input-icon">
            <i ng-class="{'icon-user':!loadingManager,'fa fa-spinner fa-spin':loadingManager}"></i>
            <input type="text" ng-model="participation.participant" placeholder="{{i18n.domain.task.participant}}"
                   typeahead="manager as manager.contact.fullName for manager in findManagerByName($viewValue)"
                   typeahead-loading="loadingManager" class="form-control" required>
        </div>
    </div>
    <div class="col-md-5">
        <div class="input-icon">
            <i class="icon-wrench"></i>
            <input type="text" ng-model="participation.role" class="form-control"
                   placeholder="{{i18n.domain.task.participantRole}}">
        </div>
    </div>
    <div class="col-md-2">
        <input bs-switch ng-model="participation.watcher" type="checkbox"
               switch-icon="icon-eye"
               switch-on-text="{{i18n.yes}}" switch-off-text="{{i18n.no}}"
               switch-on-color="success" switch-off-color="danger">
    </div>
    <div class="col-md-1">
        <button type="submit" class="btn btn-icon-only green btn-circle"
                tooltip="{{i18n.domain.task.addParticipant}}">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</form>


<table class="table table-striped table-bordered table-advance table-hover">
    <thead>
    <tr>
        <th>{{i18n.domain.task.participant}}</th>
        <th>{{i18n.domain.task.participantRole}}</th>
        <th>{{i18n.domain.task.watcher}}</th>
        <th><i class="icon-trash"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="part in data">
        <td width="40%"> {{managerList[part.participant.id].contact.fullName}}</td>
        <td>{{part.role}}</td>
        <td width="8%"><i ng-class="{'icon-eye':part.watcher,'icon-wrench':!part.watcher}"></i></td>
        <td width="10%">
            <div class="btn-group btn-group-solid">
                <a type="button" href="#" ng-click="remove(part)"
                   class="btn btn-icon-only btn-circle red" tooltip="{{i18n.domain.task.removeParticipant}}">
                    <i class="fa fa-minus"></i>
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>