<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat green-haze">
            <div wide-tile title="Успішних угод"
                 number="{{dashboard.successDeals}}/{{dashboard.deals}}({{dashboard.successDeals/dashboard.deals * 100 | number:1}}%)"
                 link-desc="До угод" link="/list-deal">
                <i class="icon-note"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat red-intense">
            <div wide-tile title="Гроші в касі" number="{{dashboard.totalMoney | currency}}" link-desc="До угод"
                 link="/list-deal">
                <i class="fa fa-money"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div wide-tile title="Успішних завдань" link="/list-task"
                 number="{{dashboard.successTasks}}/{{dashboard.tasks}}({{dashboard.successTasks/dashboard.tasks * 100 | number:1}}%)"
                 link-desc="До завдань">
                <i class="icon-check"></i>
            </div>
        </div>
    </div>
</div>
<div class="tiles">
    <a tile ng-href="/list-task" class="tile double-down bg-blue-hoki" title="Завдання" number="{{dashboard.tasks}}">
        <i class="fa fa-bell-o"></i>
    </a>

    <a tile ng-href="/list-lead" title="Контакти" number="{{dashboard.leads}}" class="tile bg-yellow-saffron">
        <i class="icon-user"></i>
    </a>

    <a tile ng-href="/list-company" title="Компанії" number="{{dashboard.companies}}" class="tile bg-blue-hoki">
        <i class="icon-briefcase"></i>
    </a>

    <a tile ng-href="/list-deal" title="Угоди" number="{{dashboard.deals}}" class="tile bg-purple-studio">
        <i class="icon-note"></i>
    </a>

    <a tile title="Проекти" number="{{dashboard.projects}}" class="tile bg-grey selected">
        <i class="icon-plane"></i>
    </a>

    <a tile ng-href="/reports" title="Звіти" number="{{dashboard.reports}}" class="tile bg-green">
        <i class="icon-pie-chart"></i>
    </a>

    <a tile ng-href="/list-audit" title="Активність" number="{{dashboard.activity}}" class="tile bg-red-thunderbird">
        <i class="fa fa-tasks"></i>
    </a>

    <a tile title="Розклад" number="{{dashboard.timeline}}" class="tile bg-grey selected">
        <i class="icon-calendar"></i>
    </a>

    <a tile ng-href="/list-task?type=MEETING" title="Зустрічі" number="{{dashboard.meetings}}"
       class="tile bg-red-flamingo">
        <i class="icon-cup"></i>
    </a>

    <a tile ng-href="/list-task?type=CALL" title="Дзвінки" number="{{dashboard.calls}}" class="tile bg-green-meadow">
        <i class="icon-screen-smartphone"></i>
    </a>

    <a tile ng-href="/list-task?type=MAIL" title="Листування" number="{{dashboard.mail}}" class="tile bg-blue-madison">
        <i class="icon-envelope"></i>
    </a>

    <a tile ng-href="/show-manager/{{profile.id}}" title="Мій профіль" number="{{dashboard.mail}}"
       class="tile double bg-blue-madison">
        <div ng-if="profile!=null" bos-ava contact="profile.contact" h="65" w="65"></div>
        <h4>{{profile.contact.fullName}}</h4>

        <p> {{profile.position}} </p>
    </a>
</div>

<!--todo <div class="row">-->
<!--<div class="col-lg-12 col-md-12 col-sm-24 col-xs-48">-->
<!--<div class="progress">-->
<!--<div class="progress-bar progress-bar-success" style="width: 35%">-->
<!--<span>35% Закінчено</span>-->
<!--</div>-->
<!--<div class="progress-bar progress-bar-warning" style="width: 20%">-->
<!--<span>20% Закінчено</span>-->
<!--</div>-->
<!--<div class="progress-bar progress-bar-danger" style="width: 10%">-->
<!--<span>10% Закінчено</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->