<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">{{i18n.timeLocale.from}}</label>

            <div class="col-md-8">
                <div bos-date-picker date="task.startDate"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">{{i18n.timeLocale.to}}</label>

            <div class="col-md-8">
                <div bos-date-picker date="task.dueDate"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">

        <div class="form-group">
            <label class="control-label col-md-4">{{i18n.domain.task.reporting}}</label>

            <div class="col-md-8 input-icon">
               <!-- <input type="text" bos-entity-select entity="task.responsible"
                       bos-find-fn="findManagerByName(term)" class="form-control select2me">-->
                <!--<i ng-hide="loadingManager" class="fa fa-user"></i>-->
                <!--<i ng-show="loadingManager" class="fa fa-refresh fa-spin"></i>-->
                <!--<input type="text" ng-model="task.responsible"-->
                       <!--placeholder="{{i18n.domain.task.responsiblePerson}}"-->
                       <!--typeahead="manager as manager.contact.fullName for manager in findManagerByName($viewValue)"-->
                       <!--typeahead-loading="loadingManager" class="form-control">-->
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">{{i18n.domain.task.priority}}</label>

            <div class="col-md-8">
                <select class="form-control" ng-model="task.priority">
                    <option ng-repeat="t in i18n.taskPriorities" value="{{t.value}}"
                            ng-selected="t.value==task.priority">{{t.ua}}
                    </option>
                </select>
            </div>
        </div>

        <!--<div class="form-group">-->
        <!--<label class="control-label col-md-3">Триває</label>-->

        <!--<div bos-duration start="task.startDate" end="task.dueDate"></div>-->
        <!--</div>-->

    </div>
</div>