<tabset class="tabbable tabbable-custom tabbable-full-width">
    <tab heading="{{i18n.taskTypes.MAIL.ua}}">
        <form class="inbox-compose form-horizontal" name="mailForm" action="#" method="POST"
              enctype="multipart/form-data">
            <div class="inbox-compose-btn">
                <button type="button" class="btn blue" ng-click="sendMail(mailForm, task)"
                        ng-disabled="!mailForm.$valid"><i class="fa fa-check"></i>Надіслати
                </button>
                <!--<button class="btn inbox-discard-btn">Discard</button>-->
                <!--<button class="btn">Draft</button>-->
            </div>
            <div class="inbox-form-group mail-to">
                <label class="control-label">{{i18n.domain.task.whom}}</label>

                <div class="controls controls-to">
                    <!-- <input type="text" class="form-control" name="to">-->
                    <input type="text" ng-model="task.lead" typeahead-loading="loadingLead"
                           typeahead="lead as lead.text for lead in findLeadByName($viewValue)"
                           typeahead-on-select="selectLead($item, $model, $label, task)" class="form-control">
                    <!--<span class="inbox-cc-bcc">-->
                    <!--<span class="inbox-cc">Копія</span>-->
                    <!--<span class="inbox-bcc">Прихована копія</span>-->
                    <!--</span>-->
                </div>
            </div>
            <div class="inbox-form-group mail-to display-hide">
                <label class="control-label">{{i18n.domain.task.copy}}</label>

                <div class="controls controls-to">
                    <input type="text" class="form-control" name="cc">
                </div>
            </div>
            <div class="inbox-form-group mail-to display-hide">
                <label class="control-label">{{i18n.domain.task.hiddenCopy}}</label>

                <div class="controls controls-to">
                    <input type="text" class="form-control" name="bcc">
                </div>
            </div>
            <div class="inbox-form-group">
                <label class="control-label">{{i18n.domain.task.topic}}</label>

                <div class="controls">
                    <input ng-model="task.title" type="text" class="form-control" name="subject" required>
                </div>
            </div>
            <div class="inbox-form-group">
                <div text-angular ng-model="task.mail.content"></div>
            </div>
            <!--<div class="inbox-compose-attachment">-->
            <!--&lt;!&ndash; The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload &ndash;&gt;
            -->
            <!--<span class="btn green fileinput-button">-->
            <!--<i class="fa fa-plus"></i>-->
            <!--<span>-->
            <!--Add files... </span>-->
            <!--<input type="file" name="files[]" multiple>-->
            <!--</span>-->
            <!--&lt;!&ndash; The table listing the files available for upload/download &ndash;&gt;-->
            <!--<table role="presentation" class="table table-striped margin-top-10">-->
            <!--<tbody class="files">-->
            <!--</tbody>-->
            <!--</table>-->
            <!--</div>-->

            <!--<script>-->
            <div class="inbox-compose-btn">
                <button type="button" class="btn blue" ng-click="sendMail(mailForm, task)"
                        ng-disabled="!mailForm.$valid"><i class="fa fa-check"></i>{{i18n.domain.task.send}}
                </button>
                <!--<button class="btn">Discard</button>-->
                <!--<button class="btn">Draft</button>-->
            </div>
        </form>
    </tab>
    <tab heading="{{i18n.details}}">
        <form name="dataForm" class="form-horizontal">
            <div class="form-body">
                <div ng-include="'/bos-app/task/bricks/edit/info.html'"></div>

                <h4 class="form-section">{{i18n.domain.task.regards}}</h4>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{i18n.domain.task[task.type].deal}}</label>

                            <div class="col-md-8 input-icon">
                                <i ng-class="{'fa fa-pencil-square-o':!loadingDeal,'fa fa-spinner fa-spin':loadingDeal}"></i>
                                <input type="text" ng-model="task.deal" typeahead-loading="loadingDeal"
                                       placeholder="{{i18n.domain.task[task.type].dealHelp}}" class="form-control"
                                       typeahead="deal as deal.text for deal in findDealByNameAndLead($viewValue, task.lead.id)"
                                       typeahead-on-select="selectDeal($item, $model, $label, task)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </tab>
</tabset>