<div class="row">
    <div class="col-md-12">
        <div class="form-group" ng-class="{'has-error': (dataForm.title.$invalid || dataForm.title.$error.required) && dataForm.title.$dirty}">
            <label class="control-label col-md-2">{{i18n.title}}</label>

            <div class="col-md-10 input-icon">
                <i class="fa fa-check"></i>
                <input type="text" class="form-control"
                       placeholder="{{i18n.domain.task[task.type].placeholder}}"
                       ng-model="task.title" name="title" required>
                <bos-not-empty message="Please enter a task title" field="title"></bos-not-empty>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">{{i18n.descr}}</label>

            <div class="col-md-10 input-icon">
                <i class="fa fa-comment-o"></i>
                <textarea class="form-control"
                          placeholder="{{i18n.domain.task[task.type].descrPlaceholder}}"
                          ng-model="task.description"></textarea>
            </div>
        </div>
    </div>
</div>