<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">{{i18n.domain.task[task.type].lead}}</label>

            <div class="col-md-8 input-icon">
                <input type="text" bos-entity-select entity="task.lead" bos-find-fn="findLeadByName(term)"
                       bos-on-select="selectLead(entity)" class="form-control select2me">
                <!--<i ng-class="{'fa fa-user':!loadingLead,'fa fa-spinner fa-spin':loadingLead}"></i>-->
                <!--<input type="text" ng-model="task.lead" placeholder="{{i18n.domain.task[task.type].leadHelp}}"-->
                <!--typeahead-loading="loadingLead" typeahead-on-select="selectLead($item, $model, $label,task)"-->
                <!--typeahead="lead as lead.contact.fullName for lead in findLeadByName($viewValue)"-->
                <!--class="form-control">-->
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">{{i18n.domain.task[task.type].deal}}</label>

            <div class="col-md-8 input-icon">
                <input type="text" bos-entity-select entity="task.deal" bos-on-select="selectDeal(entity)"
                       bos-find-fn="findDealByNameAndLead(term, task.lead.id)" class="form-control select2me">
                <!--<i ng-class="{'fa fa-pencil-square-o':!loadingDeal,'fa fa-spinner fa-spin':loadingDeal}"></i>-->
                <!--<input type="text" ng-model="task.deal" placeholder="{{i18n.domain.task[task.type].dealHelp}}"-->
                <!--typeahead-loading="loadingDeal" typeahead-on-select="selectDeal($item, $model, $label, task)"-->
                <!--typeahead="deal as deal.title for deal in findDealByNameAndLead($viewValue, task.lead.id)"-->
                <!--class="form-control">-->
            </div>
        </div>
    </div>
</div>

<div bos-select-lead></div>