<div ng-repeat="field in fields | filter:{type:fieldType}" class="form-group">
    <label class="control-label col-md-4">
        <div ng-transclude></div>
    </label>

    <div class="col-md-8">
        <div class="input-group">
            <input type="text" class="form-control"
                   placeholder="Введіть значення"
                   ng-model="field.value" name="{{field.type}}.{{field.description}}">

            <div class="input-group-btn" dropdown>
                <button dropdown-menu-hover type="button" class="btn blue dropdown-toggle">
                    <i ng-class="fieldDescriptions[field.description].icon"></i>
                    <!--<i class="fa fa-angle-down"></i>-->
                </button>
                <ul class="dropdown-menu pull-right">
                    <li ng-repeat="description in fieldDescriptions">
                        <a href="#" ng-click="field.description = description.name">
                            <i ng-show="description.icon!=null" ng-class="description.icon"></i>
                            <span> {{description.ua}} </span>
                        </a>
                    </li>
                </ul>
                <a href="#" ng-if="!$first" ng-click="remove(field)"class="btn red-pink">
                    <i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-md-offset-4">
        <a href="#" ng-if="$last" ng-click="add(fieldType)" class="btn btn-link">
            {{i18n.ADD}} <i class="fa fa-plus"></i>
        </a>
    </div>
</div>
