<div class="col-md-9">
    <div class="input-group">
        <div class="input-icon">
            <!--<i ng-hide="profileForm.fullName.$pending.uniqueFullName"></i>-->
            <i ng-show="accountData.name ==='lead'|| accountData.name ==='manager'" class="fa fa-user"></i>
            <i ng-show="accountData.name ==='company'" class="fa fa-briefcase"></i>
            <!--<i ng-show="profileForm.fullName.$pending.uniqueFullName" class="fa fa-spinner fa-spin"></i>-->
            <input type="text" class="form-control" placeholder="{{titleHelp}}"
                   ng-model="company.title" ng-model-options="{allowInvalid: true}" name="title"
                   required> <!--unique-full-name-->
        </div>
        <div ng-hide="profileForm.fullName.$dirty && profileForm.fullName.$error.uniqueFullName"
             class="input-group-btn">
            <button class="btn btn-success" type="button" disabled>
                <i class="fa fa-check fa-fw"></i>
            </button>
        </div>
        <div ng-show="profileForm.fullName.$dirty && profileForm.fullName.$error.uniqueFullName"
             class="dropdown bos-dropdown-extended bos-dropdown-inbox input-group-btn">
            <button class="btn btn-warning dropdown-toggle" dropdown-menu-hover
                    data-toggle="dropdown" data-close-others="true" type="button"><i
                    class="fa fa-exclamation fa-fw"></i>
            </button>
            <ul class="dropdown-menu">
                <li class="external"><h3>Similar names</h3></li>
                <li>
                    <ul bos-scroller class="dropdown-menu-list scroller" style="height: 100px;"
                        data-handle-color="#637283">
                        <li ng-repeat="item in list">
                            <a href="#/{{accountData.name}}/{{item.id}}/edit/info">
                                <span ng-show="accountData.name ==='lead'|| accountData.name ==='manager'" class="photo">
                                    <img bos-ava contact="item" class="img-circle">
                                </span>
                                <span class="from">{{item.text}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div ng-show="profileForm.$submitted || profileForm.fullName.$dirty">
        <div class="help-block" ng-show="profileForm.fullName.$error.required">Будь-ласка введіть ім'я</div>
        <div class="help-block" ng-show="profileForm.fullName.$error.uniqueFullName">Може вже існує контакт з таким
            ім'ям?
        </div>
    </div>
</div>