<div class="row">
    <div class="col-md-6">
        <pagination total-items="count" ng-model="pager.currentPage" max-size="pager.pagerSize"
                    items-per-page="filter.max" boundary-links="true" ng-change="reload()" class="pagination-sm"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

    </div>
    <div class="margin-top-20 col-md-3" role="status">
        {{i18n.showed}} {{((pager.currentPage-1)*filter.max)+1}} - {{pager.currentPage*filter.max-(filter.max - data.length)}} {{i18n.of}}
        {{count}} {{i18n.records}}
    </div>
    <div class="col-md-3">
        <div class="pull-right margin-top-10" dropdown>
            {{i18n.onPage}}:&nbsp;
            <button dropdown-menu-hover type="button" class="btn btn-sm blue dropdown-toggle">
                {{filter.max}} <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="max in [5,10,20,50,100]">
                    <a dropdown-toggle ng-click="filter.max = max; reload()"> {{max}} </a>
                </li>
            </ul>
        </div>
    </div>
</div>