<ul class="page-breadcrumb">
    <li ng-repeat="step in steps" ng-class="{active: $last}" ng-switch="$last || !!step.abstract">
        <a ng-switch-when="false" ng-href="{{step.ncyBreadcrumbLink}}" ng-bind-html="step.ncyBreadcrumbLabel"></a>
        <i ng-switch-when="false" class="fa fa-angle-right"></i>
        <span ng-switch-when="true" ng-bind-html="step.ncyBreadcrumbLabel"></span>
    </li>
</ul>