<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu" data-keep-expanded="false" data-auto-scroll="true"
        data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="start">
            <a href="#/dashboard.html">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li class="start">
            <a href="#/lead">
                <i class="icon-users"></i>
                <span class="title">Leads</span>
            </a>
        </li>
        <li>
            <a href="#/company">
                <i class="icon-briefcase"></i>
                <span class="title">Company</span>
            </a>
        </li>
        <li>
            <a href="#/task">
                <i class="icon-paper-plane"></i>
                <span class="title">Tasks</span>
            </a>
        </li>
        <li>
            <a href="#/deal">
                <i class="icon-briefcase"></i>
                <span class="title">Deals</span>
            </a>
        </li>
        <li>
            <a href="#/reports">
                <i class="icon-pie-chart"></i>
                <span class="title">Reports</span>
            </a>
        </li>
        <li>
            <a href="#/activity">
                <i class="icon-list"></i>
                <span class="title">Activity</span>
            </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>	