/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/* -------------- Dropbox for duplicate leands and managers ----------------*/
.bos-dropdown-extended .dropdown-menu {
    min-width: 160px;
    max-width: 275px;
    width: 275px;
    z-index: 9995;
    right: 0;
    left: auto;
    /* header notifications dropdowns */
}
.bos-dropdown-extended .dropdown-menu > li.external {
    display: block;
    overflow: hidden;
    padding: 15px 15px;
    letter-spacing: 0.5px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.bos-dropdown-extended .dropdown-menu > li.external > h3 {
    margin: 0;
    padding: 0;
    float: left;
    font-size: 13px;
    display: inline-block;
}
.bos-dropdown-extended .dropdown-menu > li.external > a {
    display: inline-block;
    padding: 0;
    background: none;
    clear: inherit;
    font-size: 13px;
    font-weight: 300;
    position: absolute;
    right: 10px;
    border: 0;
    margin-top: -1px;
}
.bos-dropdown-extended .dropdown-menu > li.external > a:hover {
    text-decoration: underline;
}
.bos-dropdown-extended .dropdown-menu .dropdown-menu-list {
    padding-right: 0 !important;
    padding-left: 0;
    list-style: none;
}
.bos-dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 20px;
    white-space: normal;
    font-size: 13px;
    /*padding: 16px 15px 18px;*/
    text-shadow: none;
}
.bos-dropdown-extended .dropdown-menu .dropdown-menu-list > li > a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.bos-dropdown-extended .dropdown-menu .dropdown-menu-list > li:first-child a {
    border-top: none;
}

.bos-dropdown-inbox > .dropdown-menu .dropdown-menu-list > li .photo img {
    height: 30px;
    width: 30px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    border-radius: 50% !important;
}
.bos-dropdown-inbox > .dropdown-menu .dropdown-menu-list > li .subject {
    display: block;
    margin-left: 46px;
}
.bos-dropdown-inbox > .dropdown-menu .dropdown-menu-list > li .subject .from {
    font-size: 13px;
    font-weight: 600;
}
.bos-dropdown-inbox > .dropdown-menu .dropdown-menu-list > li .subject .time {
    font-size: 12px;
    font-weight: 400;
    opacity: 0.5;
    filter: alpha(opacity=50);
    float: right;
}
.bos-dropdown-inbox > .dropdown-menu .dropdown-menu-list > li .message {
    display: block !important;
    font-size: 12px;
    line-height: 1.3;
    margin-left: 46px;
}

.bos-dropdown-extended > .dropdown-menu {
    max-width: 245px;
    width: 245px;
}

/* ---------------------- List animations ----------------------------------- */
/*.ng-enter {*/
    /*-webkit-transition: 1s;*/
    /*transition: 1s;*/

    /*margin-left: 100%;*/
/*}*/

/*.ng-enter-active {*/
    /*margin-left: 0;*/
/*}*/

/*.ng-leave {*/
    /*-webkit-transition: 1s;*/
    /*transition: 1s;*/

    /*margin-left: 0;*/
/*}*/

/*.ng-leave-active {*/
    /*margin-left: 100%;*/
/*}*/

/*.ng-move {*/
    /*-webkit-transition: 1s;*/
    /*transition: 1s;*/

    /*background: gold;*/
/*}*/

/*.ng-move-active {*/
    /*background: #fff;*/
/*}*/