<div class="profile">
    <div class="row">
        <div class="col-md-12">
            <div class="add-portfolio"><span> 502 Items sold this week </span>
                <a href="#" class="btn icn-only green">
                    Розпочати новий проект <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </div>
    <div ng-repeat="project in projects" class="portfolio-block" >
        <div class="col-md-5">
            <div class="portfolio-text" style="margin-left: -15px">
                <img ng-src="/assets/admin/pages/media/profile/logo_metronic.jpg" alt="{{project.title}}">

                <div class="portfolio-text-info">
                    <h4><a ng-href="/show-project/{{project.id}}">{{project.title}}</a></h4>

                    <p>
                        {{project.description | limitTo:45}}...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-5 portfolio-stat">
            <div class="portfolio-info">
                Завдань <span> 187 </span>
            </div>
            <div class="portfolio-info">
                Учасників <span> 1789 </span>
            </div>
            <div class="portfolio-info">
                Спостерігають <span> $37.240 </span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="portfolio-btn" style="margin-right: -15px">
                <a href="#" class="btn bigicn-only"><span> Стежити </span> </a>
            </div>
        </div>
    </div>
</div>
