<div class="input-group">
    <div class="input-icon">
        <i class="fa fa-calendar fa-fw"></i>
        <input type="datetime" ng-model="date" date-time format="dd MMMM yyyy HH:mm" class="form-control" readonly>
        <!--<span class="help-block">Введіть початковий час завдання</span>-->
    </div>
    <div class="input-group-btn">
        <div class="btn-group" dropdown is-open="openPicker">
            <button type="button" class="btn btn-success dropdown-toggle">
                <!--Зараз--> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" ng-click="addMinutes(5)">Через 5 хвилин</a></li>
                <li><a href="#" ng-click="addMinutes(30)">Через пів години</a></li>
                <li><a href="#" ng-click="addMinutes(60)">Через годину</a></li>
                <li class="divider"></li>
                <li><a href="#" ng-click="addMinutes(60*24)">Завтра в цей же час</a>
                </li>
            </ul>
        </div>
    </div>
</div>