<div class="row">
    <div class="col-md-7 input-icon" style="padding-right: 0px;">
        <i class="fa fa-calendar"></i>
        <input type="datetime" bos-picker date="date" value="{{date|date:'dd.MM.yyyy'}}" class="form-control">
    </div>
    <div class="col-md-5 input-icon" style="padding-left: 0px;/*padding-right: 0px*/">
        <i class="fa fa-clock-o"></i>
        <input type="text" bos-time date="date"
               value="{{date|date:'HH:mm'}}"
               class="form-control" readonly>
    </div>
</div>