<div class="row">
    <div class="col-md-12">
        <div class="form-group"
             ng-class="{'has-error': (profileForm.fullName.$invalid || profileForm.fullName.$error.required) && profileForm.fullName.$dirty}">
            <label class="control-label col-md-2">{{i18n.title}}</label>
            <bos-name-validation account="{name: 'company', field: 'title', titleHelp: 'i18n.domain.company.titleHelp'}"></bos-name-validation>
<!--            <div class="col-md-10 input-icon">
                <i class="fa fa-briefcase"></i>
                <input type="text" class="form-control" placeholder="{{i18n.domain.company.titleHelp}}"
                       ng-model="company.title" name="title" required>

                <div ng-show="form.$submitted || form.title.$touched">
                    <div ng-show="form.title.$error.required">Будь-ласка введіть назву компанії</div>
                </div>
            </div>-->
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group"
             ng-class="{'has-error': profileForm.service.$invalid && profileForm.service.$dirty}">
            <label class="control-label col-md-2">{{i18n.domain.company.service}}</label>

            <div class="col-md-10 input-icon">
                <i class="fa fa-gears"></i>
                <select class="form-control" placeholder="{{i18n.domain.company.serviceHelp}}"
                        ng-model="company.service" name="service" required>
                    <option ng-repeat="(code, name) in i18n.NACE" value="{{code}}"
                            ng-selected="code==company.service">{{name}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label col-md-2">{{i18n.descr}}</label>
        </div>
        <div class="col-md-10 input-icon">
            <i class="fa fa-comment-o"></i>
            <textarea class="form-control" placeholder="{{i18n.domain.company.descrHelp}}"
                      ng-model="company.description"></textarea>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div bos-fields fields="lead.contact.fields" field-type="PHONE"><i class="icon-call-out"></i></div>
    </div>

    <div class="col-md-6">
        <div bos-fields fields="lead.contact.fields" field-type="EMAIL"><i class="icon-envelope"></i></div>
    </div>
</div>
<!--    <div class="margiv-top-10">
        <button type="submit" class="btn green-haze">Зберегти</button>
        &lt;!&ndash;<a href="#" class="btn green-haze">&ndash;&gt;
        &lt;!&ndash;Save Changes </a>&ndash;&gt;
        <a href="#" class="btn default">
            Cancel </a>
    </div>-->
<!--
    </form>-->
