<form ng-submit="save(dataForm, deal)" name="dataForm" class="form-horizontal">
    <div class="row">
        <div class="col-md-3">
            <ul class="ver-inline-menu tabbable margin-bottom-10">
                <li ng-repeat="tab in tabConfig.tabs" ng-class="{active: tabConfig.tabIndex == $index}">
                    <a href="#" ng-click="tabConfig.tabIndex = $index"><i ng-class="tab.icon"></i> {{tab.name}}</a>
                    <span class="after"></span>
                </li>
            </ul>

            <div class="margin-top-10">
                <button type="submit" ng-disabled="!dataForm.$valid || !deal.lead" class="btn green btn-block">
                    {{i18n.SAVE}}
                </button>
                <a ng-click="cancel()" class="btn red btn-block">{{i18n.DENY}}</a>
            </div>

        </div>
        <div class="col-md-9">
            <div class="portlet light bg-inverse">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{'has-error': (dataForm.title.$invalid || dataForm.title.$error.required) && dataForm.title.$dirty}">
                                <label class="control-label col-md-1">{{i18n.title}}</label>

                                <div class="col-md-11 input-icon">
                                    <i class="fa fa-pencil-square-o"></i>
                                    <input type="text" class="form-control"
                                           placeholder="{{i18n.domain.deal.placeholder}}"
                                           ng-model="deal.title" name="title" required>
                                    <bos-not-empty message="Please enter a deal title" field="title"></bos-not-empty>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'has-error': (dataForm.sum.$invalid || dataForm.sum.$error.min) && dataForm.sum.$dirty}">
                                <label class="control-label col-md-2">{{i18n.domain.deal.sum}}</label>

                                <div class="col-md-10 input-icon">
                                    <i class="fa fa-money"></i>
                                    <input type="number" class="form-control" min="0"
                                           placeholder="{{i18n.domain.deal.sumPlaceholder}}"
                                           ng-model="deal.sum" name="sum">
                                    <bos-not-empty field="sum"></bos-not-empty>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'has-error': (dataForm.possibility.$invalid || dataForm.possibility.$error.min) && dataForm.possibility.$dirty}">
                                <label class="control-label col-md-3">{{i18n.domain.deal.possibility}}</label>

                                <div class="col-md-9 input-icon">
                                    <i class="fa fa-bar-chart-o"></i>
                                    <input type="number" class="form-control" min="0" max="100"
                                           placeholder="{{i18n.domain.deal.possibilityPlaceholder}}"
                                           ng-model="deal.possibility" name="possibility">
                                    <bos-not-empty field="possibility"></bos-not-empty>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <label class="control-label col-md-2">{{i18n.date}}</label>

                                <div class="col-md-10">
                                    <div bos-date-picker date="deal.orientedDate"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'has-error': (dataForm.lead.$invalid || dataForm.lead.$error.min) && dataForm.lead.$dirty}">
                                <label class="control-label col-md-3">{{i18n.LEAD}}</label>

                                <div class="col-md-9 input-icon">
                                    <input type="text" bos-entity-select entity="deal.lead"
                                           bos-find-fn="findAllByLeadByName(term)"
                                           class="form-control select2me" name="lead" required>
                                    <bos-not-empty message="Please enter a lead name" field="lead"></bos-not-empty>
                                    <!--<i ng-class="{'fa fa-user':!loadingLead,'fa fa-spin fa-spin':loadingLead}"></i>-->
                                    <!--<input type="text" ng-model="deal.lead" placeholder="{{i18n.LEAD}}"-->
                                    <!--typeahead="lead as lead.contact.fullName for lead in findLeadByName($viewValue)"-->
                                    <!--typeahead-loading="loadingLead" class="form-control" required>-->
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{i18n.domain.deal.status}}</label>

                                <div class="col-md-10">
                                    <select class="form-control" ng-model="deal.status">
                                        <option ng-repeat="t in i18n.dealStatuses" value="{{t.name}}"
                                                ng-selected="t.name==deal.status">
                                            {{t.ua}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">{{i18n.domain.deal.type}}</label>

                                <div class="col-md-9">
                                    <select class="form-control" ng-model="deal.type">
                                        <option ng-repeat="t in i18n.dealTypes" value="{{t.name}}"
                                                ng-selected="t.name==deal.type">
                                            {{t.ua}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="form-section">{{i18n.domain.deal.invoice.name}}</h3>

    <div bos-items items="deal.items"></div>
</form>
