<!-- BEGIN PORTLET -->
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption caption-md">
            <i class="icon-bar-chart theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase">Your Activity</span>
            <span class="caption-helper hide">weekly stats...</span>
        </div>
        <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
                <label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                    <input type="radio" name="options" class="toggle" id="option1">Today</label>
                <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                    <input type="radio" name="options" class="toggle" id="option2">Week</label>
                <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                    <input type="radio" name="options" class="toggle" id="option3">Month</label>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row number-stats margin-bottom-30">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="stat-left">
                    <div class="stat-chart">
                        <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                        <div id="sparkline_bar"></div>
                    </div>
                    <div class="stat-number">
                        <div class="title">
                            Total
                        </div>
                        <div class="number">
                            2460
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="stat-right">
                    <div class="stat-chart">
                        <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                        <div id="sparkline_bar2"></div>
                    </div>
                    <div class="stat-number">
                        <div class="title">
                            New
                        </div>
                        <div class="number">
                            719
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-scrollable table-scrollable-borderless">
            <table class="table table-hover table-light">
                <thead>
                <tr class="uppercase">
                    <th><i class="icon-note"></i>
                        <span sorter sort="title" filter="filter" paging="pager">{{i18n.title}}</span></th>
                    <th><i class="icon-wallet"></i>
                        <span sorter sort="sum" filter="filter" paging="pager">{{i18n.sum}}</span></th>
                    <th><i class="icon-speedometer"></i>
                        <span sorter sort="status" filter="filter" paging="pager">{{i18n.domain.deal.status}}</span></th>
                    <th><i class="icon-wallet"></i>
                        <span sorter sort="possibility" filter="filter" paging="pager">{{i18n.domain.deal.possibility}}</span></th>
                    <th><i class="icon-user"></i>
                <span  filter="filter"
                      paging="pager">{{i18n.domain.deal.with}}</span></th>
                    <th><i class="icon-calendar"></i>
            <span sorter sort="lastUpdated" filter="filter"
                  paging="pager">{{i18n.lastUpdated}}</span></th>
                </tr>
                </thead>
                <tr ng-repeat="deal in data">
                    <td><a ng-href="#/deal/{{deal.id}}" class="primary-link">{{deal.title}}</a></td>
                    <td>{{deal.sum | currency}}</td>
                    <th>
                        <div class="btn-group" dropdown is-open="stat.isOpen">
                            <button type="button" class="btn btn-sm dropdown-toggle"
                                    ng-class="i18n.dealStatuses[deal.status].color"
                                    ng-disabled="disabled">
                                {{i18n.dealStatuses[deal.status].ua}} <span class="fa fa-angle-down"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a ng-href="/edit-deal/{{deal.id}}">
                                        <i class="icon-pencil"></i> {{i18n.EDIT}} </a>
                                </li>
                                <li>
                                    <a ng-href="/show-deal/{{deal.id}}">
                                        <i class="icon-eye"></i> {{i18n.VIEW}} </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a ng-href="/add-task?deal={{deal.id}}&type=CALL">
                                        <i class="icon-call-out"></i> {{i18n.MAKE_CALL}} </a>
                                </li>
                                <li>
                                    <a ng-href="/add-task?deal={{deal.id}}&type=EMAIL">
                                        <i class="icon-envelope"></i> {{i18n.MAKE_EMAIL}}</a>
                                </li>
                                <li>
                                    <a ng-href="/add-task?deal={{deal.id}}&type=MEETING">
                                        <i class="icon-users"></i> {{i18n.MAKE_MEETING}} </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a ng-href="/show-invoice/{{deal.id}}">
                                        <i class="icon-wallet"></i> {{i18n.MAKE_INVOICE}} </a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a href="#"><i class="icon-note"></i> {{i18n.CHANGE_STATUS}}</a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="status in i18n.dealStatuses">
                                            <a href="#" ng-class="'btn ' + status.color" ng-click="setStatus(deal,status)">{{status.ua}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th ><span class="bold theme-font">{{deal.possibility}}%</span></th>
                    <th><a ng-href="#/lead/{{deal.lead.id}}" class="primary-link">{{deal.lead.contact.fullName}}</a></th>
                    <td>{{deal.lastUpdated | date:'dd MMM yy HH:mm'}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div bos-pager></div>
</div>
<!-- END PORTLET -->