<div class="invoice">
    <div class="row invoice-logo">
        <div class="col-xs-6 invoice-logo-space">
            <img src="/images/logo.png" class="img-responsive" alt="">
        </div>
        <div class="col-xs-6">
            <p>
                {{i18n.domain.deal.invoice.name}} №{{invoice.number}} від {{invoice.dateCreated|date:'dd MMMM yyyy'}}
                <span class="muted">{{i18n.domain.deal.invoice.according}} "{{invoice.deal.title}}"</span>
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-4">
            <h3>{{i18n.domain.deal.invoice.payer}}:</h3>
            <ul class="list-unstyled">
                <li>{{invoice.deal.lead.company}}</li>
                <li>{{invoice.deal.lead.contact.fullName}}</li>
                <li>{{invoice.deal.lead.company.address.locality}}</li>
                <li>{{invoice.deal.lead.company.address.country}}</li>
            </ul>
        </div>
        <div class="col-xs-4">
            <h3>{{i18n.domain.deal.invoice.requisites}}:</h3>
            <ul class="list-unstyled">
                <li>
                    Р/рахунок: {{invoice.deal.lead.company.requisites.accountNumber}}
                </li>
                <li>
                    в: {{invoice.deal.lead.company.requisites.accountDetail}}
                </li>
                <li>
                    МФО: {{invoice.deal.lead.company.requisites.mfo}}
                </li>
                <li>
                    ЄДРПОУ: {{invoice.deal.lead.company.requisites.stateId}}
                </li>
            </ul>
        </div>
        <div class="col-xs-4 invoice-payment">
            <h3>Реквізити виконавця:</h3>
            <ul class="list-unstyled">
                <li>
                    Р/рахунок: {{company.requisites.accountNumber}}
                </li>
                <li>
                    в: {{company.requisites.accountDetail}}
                </li>
                <li>
                    МФО: {{company.requisites.mfo}}
                </li>
                <li>
                    ЄДРПОУ: {{company.requisites.stateId}}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>№</th>
                    <th>{{i18n.product}}</th>
                    <th class="hidden-480">{{i18n.descr}}</th>
                    <th class="hidden-480">{{i18n.price}}</th>
                    <th class="hidden-480">{{i18n.quantity}}</th>
                    <th> {{i18n.overall}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in deal.items">
                    <td>{{$index+1}}</td>
                    <td>{{item.product.name}}</td>
                    <td class="hidden-480">{{item.product.description}}</td>
                    <td class="hidden-480">{{item.product.price | currency}}</td>
                    <td class="hidden-480">{{item.quantity}}</td>
                    <td>{{item.product.price*item.quantity | currency}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="well">
                <address>
                    <strong>Loop, Inc.</strong><br>
                    795 Park Ave, Suite 120<br>
                    San Francisco, CA 94107<br>
                    <abbr title="Phone">P:</abbr> (234) 145-1810
                </address>
                <address>
                    <strong>Контактна особа</strong><br>
                    <a ng-href="mailto:{{invoice.deal.lead.author.contact.email}}">
                        {{invoice.deal.lead.author.contact.email}} </a>
                </address>
            </div>
        </div>
        <div class="col-xs-8 invoice-block">
            <ul class="list-unstyled amounts">
                <li>
                    <strong>Всього:</strong> {{invoice.price}}
                </li>
                <li>
                    <strong>ПДВ:</strong> {{invoice.pdv}}
                </li>
                <li>
                    <strong>До сплати:</strong>{{invoice.finalPrice}}
                </li>
            </ul>
            <br>
            <a class="btn btn-lg blue hidden-print margin-bottom-5" onclick="javascript:window.print();">
                Друк <i class="fa fa-print"></i>
            </a>
            <a class="btn btn-lg green hidden-print margin-bottom-5">
                Надіслати поштою <i class="fa fa-check"></i>
            </a>
        </div>
    </div>
</div>