<a type="button" href="#" ng-click="addItem()"
   class="btn btn-icon-only btn-circle green" tooltip="{{i18n.ADD_POSITION}}">
    <i class="fa fa-plus"></i>
</a>
<table class="table table-striped table-bordered table-advance table-hover">
    <thead>
    <tr>
        <th>{{i18n.domain.deal.itemName}}</th>
        <th>{{i18n.descr}}</th>
        <th>{{i18n.price}}</th>
        <th>{{i18n.quantity}}</th>
        <th>{{i18n.measure}}</th>
        <th>{{i18n.sum}}</th>
        <th align="center"><i class="fa fa-trash"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in items">
        <td width="20%"><input type="text" ng-model="item.product.name" class="form-control" id="name"
                               placeholder="{{i18n.title}}" required></td>
        <td width="30%"><input type="text" ng-model="item.product.description" class="form-control" id="description"
                               placeholder="{{i18n.descr}}"></td>
        <td><input type="number" ng-model="item.product.price" class="form-control" id="price"
                   placeholder="{{i18n.price}}" min="0" required>
        </td>
        <td><input type="number" ng-model="item.quantity" class="form-control" id="quantity"
                   placeholder="{{i18n.quantity}}" min="0" required>
        </td>
        <td><input type="text" ng-model="item.measure" class="form-control" id="measure"
                   placeholder="{{i18n.measure}}">
        </th>
        <td>{{item.product.price * item.quantity|currency}}</td>
        <td width="1%">
            <div class="btn-group btn-group-solid" ng-show="$last">
                <a type="button" href="#" ng-click="removeItem($index)"
                   class="btn btn-icon-only btn-circle red" tooltip="{{i18n.REMOVE_POSITION}}">
                    <i class="fa fa-minus"></i>
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>