<div class="table-responsive">
    <table class="table table-striped table-bordered table-advance table-hover">
        <thead>
        <tr>
            <th><i class="icon-note font-blue"></i>
                <span sorter sort="title" filter="filter" paging="pager">{{i18n.title}}</span></th>
            <th><i class="icon-wallet font-blue"></i>
                <span sorter sort="sum" filter="filter" paging="pager">{{i18n.sum}}</span></th>
            <th><i class="icon-speedometer font-blue"></i>
                <span sorter sort="status" filter="filter" paging="pager">{{i18n.domain.deal.status}}</span></th>
            <th><i class="icon-wallet font-blue"></i>
                <span sorter sort="possibility" filter="filter" paging="pager">{{i18n.domain.deal.possibility}}</span></th>
            <th><i class="icon-user font-blue"></i>
                <span sorter sort="lead.contact.fullName" filter="filter"
                      paging="pager">{{i18n.domain.deal.with}}</span></th>
            <th><i class="icon-calendar font-blue"></i>
            <span sorter sort="lastUpdated" filter="filter"
                  paging="pager">{{i18n.lastUpdated}}</span></th>
            <!--<th>{{i18n.assign}}</th>-->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="deal in data" ng-mouseover="table.hover=deal.id"
            ng-mouseleave="table.hover=-1">
            <td><a ng-href="/show-deal/{{deal.id}}">{{deal.title}}</a></td>
            <td>{{deal.sum | currency}}</td>
            <th>
                <div class="btn-group" dropdown is-open="stat.isOpen">
                    <button type="button" class="btn btn-sm dropdown-toggle"
                            ng-class="i18n.dealStatuses[deal.status].color"
                            ng-disabled="disabled">
                        {{i18n.dealStatuses[deal.status].ua}} <span class="fa fa-angle-down"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a ng-href="/edit-deal/{{deal.id}}">
                                <i class="icon-pencil"></i> {{i18n.EDIT}} </a>
                        </li>
                        <li>
                            <a ng-href="/show-deal/{{deal.id}}">
                                <i class="icon-eye"></i> {{i18n.VIEW}} </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-href="/add-task?deal={{deal.id}}&type=CALL">
                                <i class="icon-call-out"></i> {{i18n.MAKE_CALL}} </a>
                        </li>
                        <li>
                            <a ng-href="/add-task?deal={{deal.id}}&type=EMAIL">
                                <i class="icon-envelope"></i> {{i18n.MAKE_EMAIL}}</a>
                        </li>
                        <li>
                            <a ng-href="/add-task?deal={{deal.id}}&type=MEETING">
                                <i class="icon-users"></i> {{i18n.MAKE_MEETING}} </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-href="/show-invoice/{{deal.id}}">
                                <i class="icon-wallet"></i> {{i18n.MAKE_INVOICE}} </a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-submenu">
                            <a href="#"><i class="icon-note"></i> {{i18n.CHANGE_STATUS}}</a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="status in i18n.dealStatuses">
                                    <a href="#" ng-class="'btn ' + status.color" ng-click="setStatus(deal,status)">{{status.ua}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </th>
            <th>{{deal.possibility}}%</th>
            <th><a ng-href="/show-lead/{{deal.lead.id}}">{{deal.lead.contact.fullName}}</a></th>
            <td>{{deal.lastUpdated | date:'dd MMM yy HH:mm'}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div bos-pager></div>