<tabset class="tabbable tabbable-custom tabbable-full-width">
    <tab heading="{{i18n.details}}">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="portlet light bg-inverse">
                    <div class="portlet-title">
                        <div class="caption font-green-haze">
                            <i class="icon-note font-green-haze"></i>
                            <span class="caption-subject bold font-green-haze uppercase">{{i18n.details}}</span>
                        </div>
                        <div class="actions">
                            <a ng-href="/show-invoice/{{deal.id}}" class="btn btn-circle btn-default">
                                <i class="icon-wallet"></i> {{i18n.MAKE_INVOICE}} </a>
                        </div>
                        <div class="actions">
                        <a ng-href="#/deal/{{deal.id}}/edit" class="btn btn-default btn-sm">
                        <i class="fa fa-pencil"></i> {{i18n.EDIT}} </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row static-info">
                            <div class="col-md-5 name">
                                {{i18n.DEAL}} №:
                            </div>
                            <div class="col-md-7 value">
                                {{deal.id}} <span
                                    class="label label-info label-sm">{{i18n.dealTypes[deal.type].ua}} </span>
                            </div>
                        </div>
                        <div class="row static-info">
                            <div class="col-md-5 name">
                                {{i18n.dateCreated}}:
                            </div>
                            <div class="col-md-7 value">
                                {{deal.dateCreated|date:'dd MMMM yyyy HH:mm'}}
                            </div>
                        </div>
                        <div class="row static-info">
                            <div class="col-md-5 name">
                                {{i18n.domain.deal.status}}:
                            </div>
                            <div class="col-md-7 value">
                                <span ng-class="'label bg-'+ i18n.dealStatuses[deal.status].color">{{i18n.dealStatuses[deal.status].ua}} </span>
                            </div>
                        </div>
                        <div class="row static-info">
                            <div class="col-md-5 name">
                                {{i18n.sum}}:
                            </div>
                            <div class="col-md-7 value">
                                {{deal.sum | currency}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div bos-contact-info contact="deal.lead.contact"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bg-inverse">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs font-green-haze"></i>
                            <span class="caption-subject bold font-green-haze uppercase">{{i18n.domain.deal.items}}</span>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>{{i18n.product}}</th>
                            <th class="hidden-480">{{i18n.descr}}</th>
                            <th class="hidden-480">{{i18n.price}}</th>
                            <th class="hidden-480">{{i18n.quantity}}</th>
                            <th> {{i18n.overall}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in deal.items">
                            <td>{{$index+1}}</td>
                            <td>{{item.product.name}}</td>
                            <td class="hidden-480">{{item.product.description}}</td>
                            <td class="hidden-480">{{item.product.price | currency}}</td>
                            <td class="hidden-480">{{item.quantity}}</td>
                            <td>{{item.product.price*item.quantity | currency}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="{{i18n.feeds}}">
        <div bos-feeds></div>
    </tab>
</tabset>

