<div class="row">
    <div class="col-md-8">
        <div class="form-group"
             ng-class="{'has-error': (profileForm.fullName.$invalid || profileForm.fullName.$error.required) && profileForm.fullName.$dirty}">
            <label class="control-label col-md-2">{{i18n.domain.manager.fullName}}</label>
            <bos-name-validation account="{name: 'manager', field: 'contact.fullName', titleHelp: 'i18n.domain.manager.fullNameHelp'}"></bos-name-validation>
<!--            <div class="col-md-10 input-icon">
                <i class="fa fa-user"></i>
                <input type="text" class="form-control" placeholder="{{i18n.domain.manager.fullNameHelp}}"
                       ng-model="manager.contact.fullName" name="fullName" required>

                <div ng-show="form.$submitted || form.fullName.$touched">
                    <div ng-show="form.fullName.$error.required">Будь-ласка введіть ім'я</div>
                </div>
                <span class="help-block">
                                {{i18n.domain.manager.loginHelp}}
                            </span>
            </div>-->
        </div>
    </div>
    <div class="col-md-4">
        <label class="control-label col-md-3">{{i18n.domain.contact.gender}}</label>
        <input bs-switch ng-model="manager.contact.male" type="checkbox"
               switch-on-text="<i class='fa fa-male'></i>" switch-off-text="<i class='fa fa-female'></i>"
               switch-on-color="primary" switch-off-color="danger" switch-label-width="20" switch-handle-width="20">
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="form-group"
             ng-class="{'has-error': profileForm.position.$invalid && profileForm.position.$dirty}">
            <label class="control-label col-md-2">{{i18n.domain.manager.position}}</label>

            <div class="col-md-10 input-icon">
                <i class="fa fa-user"></i>
                <input type="text" class="form-control" placeholder="{{i18n.domain.manager.position}}"
                       ng-model="manager.position" name="position" required>
                            <span class="help-block" ng-show="dataForm.position.$error.required">
                                {{i18n.domain.manager.positionHelp}}
                            </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div bos-fields fields="manager.contact.fields" field-type="PHONE"><i class="icon-call-out"></i></div>
    </div>

    <div class="col-md-6">
        <div bos-fields fields="manager.contact.fields" field-type="EMAIL"><i class="icon-envelope"></i></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div bos-fields fields="manager.contact.fields" field-type="SOCIAL" change-fields="changeFields(data)">
            <i class="icon-globe"></i>
        </div>
    </div>
</div>
<!--<div class="margiv-top-10">
    <button type="submit" class="btn green-haze">Зберегти</button>
    &lt;!&ndash;<a href="#" class="btn green-haze">&ndash;&gt;
        &lt;!&ndash;Save Changes </a>&ndash;&gt;
            <a href="#" class="btn default">
                Cancel </a>
        </div>-->
<!--
</form>-->
