<form role="form" action="#">
    <div class="form-group">
        <label class="control-label">First Name</label>
        <input type="text" placeholder="John" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="control-label">Last Name</label>
        <input type="text" placeholder="Doe" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="control-label">Mobile Number</label>
        <input type="text" placeholder="+1 646 580 DEMO (6284)" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="control-label">Interests</label>
        <input type="text" placeholder="Design, Web etc." class="form-control"/>
    </div>
    <div class="form-group">
        <label class="control-label">Occupation</label>
        <input type="text" placeholder="Web Developer" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="control-label">About</label>
        <textarea class="form-control" rows="3" placeholder="We are KeenThemes!!!"></textarea>
    </div>
    <div class="form-group">
        <label class="control-label">Website Url</label>
        <input type="text" placeholder="http://www.mywebsite.com" class="form-control"/>
    </div>
    <div class="margiv-top-10">
        <a href="#" class="btn green-haze">
            Save Changes </a>
        <a href="#" class="btn default">
            Cancel </a>
    </div>
</form>