<div class="portlet-body form">
    <div name="settingsForm" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-3">{{i18n.newPass}}</label>

            <div class="col-md-9">
                <input type="password" name="pwd1" ng-model="pass" placeholder="{{i18n.newPass}}"
                       class="form-control">
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': pass!=pass2}">
            <label class="control-label col-md-3">{{i18n.repeatPass}}</label>

            <div class="col-md-9">
                <input type="password" name="pwd2" ng-model="pass2" placeholder="{{i18n.repeatPass}}"
                       class="form-control">
                <span class="help-block" ng-show="pass!=pass2">{{i18n.passNotMatch}} </span>
            </div>
        </div>

        <div class="form-actions fluid">
            <div class="col-lg-offset-3 col-lg-9">
                <button ng-disabled="!pass ||!pass2|| pass!=pass2" type="button" ng-click="setPass(pass)"
                        class="btn green">{{i18n.SAVE}}
                </button>
                <button type="button" ng-click="cancel()" class="btn default">{{i18n.DENY}}</button>
            </div>
        </div>
    </div>
</div>