<div class="row static-info">
    <div class="col-md-5 name">
        {{i18n.DEAL}} №:
    </div>
    <div class="col-md-7 value">
        {{deal.id}} <span
            class="label label-info label-sm">{{i18n.dealTypes[deal.type].ua}} </span>
    </div>
</div>
<div class="row static-info">
    <div class="col-md-5 name">
        {{i18n.dateCreated}}:
    </div>
    <div class="col-md-7 value">
        {{deal.dateCreated|date:'dd MMMM yyyy HH:mm'}}
    </div>
</div>
<div class="row static-info">
    <div class="col-md-5 name">
        {{i18n.domain.deal.status}}:
    </div>
    <div class="col-md-7 value">
        <span ng-class="'label bg-'+ i18n.dealStatuses[deal.status].color">{{i18n.dealStatuses[deal.status].ua}} </span>
    </div>
</div>
<div class="row static-info">
    <div class="col-md-5 name">
        {{i18n.sum}}:
    </div>
    <div class="col-md-7 value">
        {{deal.sum | currency}}
    </div>
</div>