<div class="row">
<div class="col-md-6">
    <div class="portlet light">
            <span class="caption-subject bold font-blue-madison uppercase">
                            {{i18n.contactInfo}} </span>
        <!-- STAT -->
        <div class="row list-separated profile-stat">
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-title">
                    1{{lead.info.deals}}
                </div>
                <div class="uppercase profile-stat-text">
                    {{i18n.DEALS}}
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-title">
                    1{{lead.info.calls}}
                </div>
                <div class="uppercase profile-stat-text">
                    {{i18n.CALLS}}
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-title">
                    1{{lead.info.meets}}
                </div>
                <div class="uppercase profile-stat-text">
                    {{i18n.MEETINGS}}
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-title">
                    1{{lead.info.money}}
                </div>
                <div class="uppercase profile-stat-text">
                    {{i18n.MONEY}}
                </div>
            </div>
        </div>
        <!-- END STAT -->
        <h4 class="profile-desc-title">{{manager.contact.fullName}}</h4>
                <span class="profile-desc-text">
        <ul class="list-inline">
            <li>
                <i class="icon-calendar"></i> {{manager.contact.dateCreated|date:'shortDate'}}
            </li>
            <li ng-if="manager.position!=null">
                <i class="icon-wrench"></i> {{manager.position}}
            </li>
        </ul> </span>

        <div bos-contact-info contact="manager.contact"></div>
    </div>
</div>
<!--<div class="col-md-12">
    &lt;!&ndash; BEGIN PORTLET &ndash;&gt;
    <div bos-feeds profile="lead"></div>
    &lt;!&ndash; END PORTLET &ndash;&gt;
</div>-->
<div class="col-md-6">
<!-- BEGIN PORTLET -->
<div class="portlet light">
<div class="portlet-title tabbable-line">
    <div class="caption caption-md">
        <i class="icon-globe theme-font hide"></i>
        <span class="caption-subject font-blue-madison bold uppercase">Feeds</span>
    </div>
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#" data-target="#tab_1_1" data-toggle="tab">
                System </a>
        </li>
        <li>
            <a href="#" data-target="#tab_1_2" data-toggle="tab">
                Activities </a>
        </li>
    </ul>
</div>
<div class="portlet-body">
<!--BEGIN TABS-->
<div class="tab-content">
<div class="tab-pane active" id="tab_1_1">
<div class="scroller" style="height: 320px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
<ul class="feeds">
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-success">
                    <i class="fa fa-bell-o"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    You have 4 pending tasks. <span class="label label-sm label-info">
													Take action <i class="fa fa-share"></i>
													</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            Just now
        </div>
    </div>
</li>
<li>
    <a href="#">
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-success">
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        New version v1.4 just lunched!
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                20 mins
            </div>
        </div>
    </a>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-danger">
                    <i class="fa fa-bolt"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    Database server #12 overloaded. Please fix the issue.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            24 mins
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-info">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New order received and pending for process.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            30 mins
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-success">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New payment refund and pending approval.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            40 mins
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-warning">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New member registered. Pending approval.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            1.5 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-success">
                    <i class="fa fa-bell-o"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    Web server hardware needs to be upgraded. <span class="label label-sm label-default ">
													Overdue </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            2 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-default">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    Prod01 database server is overloaded 90%.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            3 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-warning">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New group created. Pending manager review.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            5 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-info">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    Order payment failed.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            18 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-default">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New application received.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            21 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-info">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    Dev90 web server restarted. Pending overall system check.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            22 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-default">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New member registered. Pending approval
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            21 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-info">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    L45 Network failure. Schedule maintenance.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            22 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-default">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    Order canceled with failed payment.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            21 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-info">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    Web-A2 clound instance created. Schedule full scan.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            22 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-default">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    Member canceled. Schedule account review.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            21 hours
        </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-info">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New order received. Please take care of it.
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            22 hours
        </div>
    </div>
</li>
</ul>
</div>
</div>
<div class="tab-pane" id="tab_1_2">
<div class="scroller" style="height: 337px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
<ul class="feeds">
<li>
    <a href="#">
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-success">
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        New user registered
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                Just now
            </div>
        </div>
    </a>
</li>
<li>
    <a href="#">
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-success">
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        New order received
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                10 mins
            </div>
        </div>
    </a>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-danger">
                    <i class="fa fa-bolt"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    Order #24DOP4 has been rejected. <span class="label label-sm label-danger ">
													Take action <i class="fa fa-share"></i>
													</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date">
            24 mins
        </div>
    </div>
</li>
<li>
    <a href="#">
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-success">
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        New user registered
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                Just now
            </div>
        </div>
    </a>
</li>
<li>
    <a href="#">
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-success">
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        New user registered
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                Just now
            </div>
        </div>
    </a>
</li>
<li>
    <a href="#">
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-success">
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        New user registered
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                Just now
            </div>
        </div>
    </a>
</li>
<li>
    <a href="#">
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-success">
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        New user registered
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                Just now
            </div>
        </div>
    </a>
</li>
<li>
    <a href="#">
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-success">
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        New user registered
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                Just now
            </div>
        </div>
    </a>
</li>
<li>
    <a href="#">
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-success">
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        New user registered
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                Just now
            </div>
        </div>
    </a>
</li>
<li>
    <a href="#">
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-success">
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        New user registered
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                Just now
            </div>
        </div>
    </a>
</li>
</ul>
</div>
</div>
</div>
<!--END TABS-->
</div>
</div>
<!-- END PORTLET -->
</div>
</div>
<div class="row">
<div class="col-md-6">
    <!-- BEGIN PORTLET -->
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption caption-md">
                <i class="icon-bar-chart theme-font hide"></i>
                <span class="caption-subject font-blue-madison bold uppercase">Customer Support</span>
                <span class="caption-helper">45 pending</span>
            </div>
            <div class="inputs">
                <div class="portlet-input input-inline input-small ">
                    <div class="input-icon right">
                        <i class="icon-magnifier"></i>
                        <input type="text" class="form-control form-control-solid" placeholder="search...">
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="scroller" style="height: 305px;" data-always-visible="1" data-rail-visible1="0"
                 data-handle-color="#D7DCE2">
                <div class="general-item-list">
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img class="item-pic" src="../../../assets/admin/layout3/img/avatar4.jpg">
                                <a href="" class="item-name primary-link">Nick Larson</a>
                                <span class="item-label">3 hrs ago</span>
                            </div>
                            <span class="item-status"><span class="badge badge-empty badge-success"></span> Open</span>
                        </div>
                        <div class="item-body">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img class="item-pic" src="../../../assets/admin/layout3/img/avatar3.jpg">
                                <a href="" class="item-name primary-link">Mark</a>
                                <span class="item-label">5 hrs ago</span>
                            </div>
                            <span class="item-status"><span
                                    class="badge badge-empty badge-warning"></span> Pending</span>
                        </div>
                        <div class="item-body">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat tincidunt ut laoreet.
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img class="item-pic" src="../../../assets/admin/layout3/img/avatar6.jpg">
                                <a href="" class="item-name primary-link">Nick Larson</a>
                                <span class="item-label">8 hrs ago</span>
                            </div>
                            <span class="item-status"><span
                                    class="badge badge-empty badge-primary"></span> Closed</span>
                        </div>
                        <div class="item-body">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img class="item-pic" src="../../../assets/admin/layout3/img/avatar7.jpg">
                                <a href="" class="item-name primary-link">Nick Larson</a>
                                <span class="item-label">12 hrs ago</span>
                            </div>
                            <span class="item-status"><span
                                    class="badge badge-empty badge-danger"></span> Pending</span>
                        </div>
                        <div class="item-body">
                            Consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                            diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img class="item-pic" src="../../../assets/admin/layout3/img/avatar9.jpg">
                                <a href="" class="item-name primary-link">Richard Stone</a>
                                <span class="item-label">2 days ago</span>
                            </div>
                            <span class="item-status"><span class="badge badge-empty badge-danger"></span> Open</span>
                        </div>
                        <div class="item-body">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, ut laoreet dolore magna aliquam
                            erat volutpat.
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img class="item-pic" src="../../../assets/admin/layout3/img/avatar8.jpg">
                                <a href="" class="item-name primary-link">Dan</a>
                                <span class="item-label">3 days ago</span>
                            </div>
                            <span class="item-status"><span
                                    class="badge badge-empty badge-warning"></span> Pending</span>
                        </div>
                        <div class="item-body">
                            Lorem ipsum dolor sit amet, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                            aliquam erat volutpat.
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img class="item-pic" src="../../../assets/admin/layout3/img/avatar2.jpg">
                                <a href="" class="item-name primary-link">Larry</a>
                                <span class="item-label">4 hrs ago</span>
                            </div>
                            <span class="item-status"><span class="badge badge-empty badge-success"></span> Open</span>
                        </div>
                        <div class="item-body">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PORTLET -->
</div>
<div class="col-md-6">
<!-- BEGIN PORTLET -->
<div class="portlet light tasks-widget">
<div class="portlet-title">
    <div class="caption caption-md">
        <i class="icon-bar-chart theme-font hide"></i>
        <span class="caption-subject font-blue-madison bold uppercase">Tasks</span>
        <span class="caption-helper">16 pending</span>
    </div>
    <div class="inputs">
        <div class="portlet-input input-small input-inline">
            <div class="input-icon right">
                <i class="icon-magnifier"></i>
                <input type="text" class="form-control form-control-solid" placeholder="search...">
            </div>
        </div>
    </div>
</div>
<div class="portlet-body">
<div class="task-content">
<div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
<!-- START TASK LIST -->
<ul class="task-list">
<li>
    <div class="task-checkbox">
        <input type="hidden" value="1" name="test"/>
        <input type="checkbox" class="liChild" value="2" name="test"/>
    </div>
    <div class="task-title">
									<span class="task-title-sp">
									Present 2013 Year IPO Statistics at Board Meeting </span>
        <span class="label label-sm label-success">Company</span>
									<span class="task-bell">
									<i class="fa fa-bell-o"></i>
									</span>
    </div>
    <div class="task-config">
        <div class="task-config-btn btn-group">
            <a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown"
               data-close-others="true">
                <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="#">
                        <i class="fa fa-check"></i> Complete </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-pencil"></i> Edit </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-trash-o"></i> Cancel </a>
                </li>
            </ul>
        </div>
    </div>
</li>
<li>
    <div class="task-checkbox">
        <input type="checkbox" class="liChild" value=""/>
    </div>
    <div class="task-title">
									<span class="task-title-sp">
									Hold An Interview for Marketing Manager Position </span>
        <span class="label label-sm label-danger">Marketing</span>
    </div>
    <div class="task-config">
        <div class="task-config-btn btn-group">
            <a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown"
               data-close-others="true">
                <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="#">
                        <i class="fa fa-check"></i> Complete </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-pencil"></i> Edit </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-trash-o"></i> Cancel </a>
                </li>
            </ul>
        </div>
    </div>
</li>
<li>
    <div class="task-checkbox">
        <input type="checkbox" class="liChild" value=""/>
    </div>
    <div class="task-title">
									<span class="task-title-sp">
									AirAsia Intranet System Project Internal Meeting </span>
        <span class="label label-sm label-success">AirAsia</span>
									<span class="task-bell">
									<i class="fa fa-bell-o"></i>
									</span>
    </div>
    <div class="task-config">
        <div class="task-config-btn btn-group">
            <a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown"
               data-close-others="true">
                <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="#">
                        <i class="fa fa-check"></i> Complete </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-pencil"></i> Edit </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-trash-o"></i> Cancel </a>
                </li>
            </ul>
        </div>
    </div>
</li>
<li>
    <div class="task-checkbox">
        <input type="checkbox" class="liChild" value=""/>
    </div>
    <div class="task-title">
									<span class="task-title-sp">
									Technical Management Meeting </span>
        <span class="label label-sm label-warning">Company</span>
    </div>
    <div class="task-config">
        <div class="task-config-btn btn-group">
            <a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown"
               data-close-others="true">
                <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="#">
                        <i class="fa fa-check"></i> Complete </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-pencil"></i> Edit </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-trash-o"></i> Cancel </a>
                </li>
            </ul>
        </div>
    </div>
</li>
<li>
    <div class="task-checkbox">
        <input type="checkbox" class="liChild" value=""/>
    </div>
    <div class="task-title">
									<span class="task-title-sp">
									Kick-off Company CRM Mobile App Development </span>
        <span class="label label-sm label-info">Internal Products</span>
    </div>
    <div class="task-config">
        <div class="task-config-btn btn-group">
            <a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown"
               data-close-others="true">
                <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="#">
                        <i class="fa fa-check"></i> Complete </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-pencil"></i> Edit </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-trash-o"></i> Cancel </a>
                </li>
            </ul>
        </div>
    </div>
</li>
<li>
    <div class="task-checkbox">
        <input type="checkbox" class="liChild" value=""/>
    </div>
    <div class="task-title">
									<span class="task-title-sp">
									Prepare Commercial Offer For SmartVision Website Rewamp </span>
        <span class="label label-sm label-danger">SmartVision</span>
    </div>
    <div class="task-config">
        <div class="task-config-btn btn-group">
            <a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown"
               data-close-others="true">
                <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="#">
                        <i class="fa fa-check"></i> Complete </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-pencil"></i> Edit </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-trash-o"></i> Cancel </a>
                </li>
            </ul>
        </div>
    </div>
</li>
<li>
    <div class="task-checkbox">
        <input type="checkbox" class="liChild" value=""/>
    </div>
    <div class="task-title">
									<span class="task-title-sp">
									Sign-Off The Comercial Agreement With AutoSmart </span>
        <span class="label label-sm label-default">AutoSmart</span>
									<span class="task-bell">
									<i class="fa fa-bell-o"></i>
									</span>
    </div>
    <div class="task-config">
        <div class="task-config-btn btn-group">
            <a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown"
               data-close-others="true">
                <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="#">
                        <i class="fa fa-check"></i> Complete </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-pencil"></i> Edit </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-trash-o"></i> Cancel </a>
                </li>
            </ul>
        </div>
    </div>
</li>
<li>
    <div class="task-checkbox">
        <input type="checkbox" class="liChild" value=""/>
    </div>
    <div class="task-title">
									<span class="task-title-sp">
									Company Staff Meeting </span>
        <span class="label label-sm label-success">Cruise</span>
									<span class="task-bell">
									<i class="fa fa-bell-o"></i>
									</span>
    </div>
    <div class="task-config">
        <div class="task-config-btn btn-group">
            <a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown"
               data-close-others="true">
                <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="#">
                        <i class="fa fa-check"></i> Complete </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-pencil"></i> Edit </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-trash-o"></i> Cancel </a>
                </li>
            </ul>
        </div>
    </div>
</li>
<li class="last-line">
    <div class="task-checkbox">
        <input type="checkbox" class="liChild" value=""/>
    </div>
    <div class="task-title">
									<span class="task-title-sp">
									KeenThemes Investment Discussion </span>
        <span class="label label-sm label-warning">KeenThemes </span>
    </div>
    <div class="task-config">
        <div class="task-config-btn btn-group">
            <a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown"
               data-close-others="true">
                <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="#">
                        <i class="fa fa-check"></i> Complete </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-pencil"></i> Edit </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-trash-o"></i> Cancel </a>
                </li>
            </ul>
        </div>
    </div>
</li>
</ul>
<!-- END START TASK LIST -->
</div>
</div>
<div class="task-footer">
    <div class="btn-arrow-link pull-right">
        <a href="#">See All Tasks</a>
    </div>
</div>
</div>
</div>
<!-- END PORTLET -->
</div>
</div>
<!-- BEGIN MAIN JS-->
<script>
    Profile.init(); // init page demo
</script>
<!-- BEGIN MAIN JS -->