<div class="row">
    <div class="col-md-8 profile-info">
        <h1>{{manager.contact.fullName}}</h1>

        <p> {{manager.description}} </p>

        <ul class="list-inline">
            <li>
                <i class="icon-calendar"></i> {{manager.contact.dateCreated|date:'shortDate'}}
            </li>
            <li ng-if="manager.company!=null">
                <i class="icon-briefcase"></i> {{manager.company.title}}
            </li>
            <li ng-if="manager.position!=null">
                <i class="icon-wrench"></i> {{manager.position}}
            </li>
        </ul>

        <div bos-contact-info contact="manager.contact"></div>
    </div>
    <div class="col-md-4">
        <div class="portlet sale-summary">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-notebook font-green-haze"></i>
                    <span class="caption-subject bold font-green-haze uppercase">{{i18n.summary}}</span>
                </div>
            </div>
            <div class="portlet-body">
                <ul class="list-unstyled">
                    <li ng-show="manager.info.leads>0">
                        <span class="sale-info">{{i18n.LEADS}}<i class="fa fa-img-up"></i></span>
                        <span class="sale-num">{{manager.info.leads}}</span>
                    </li>
                    <li ng-show="manager.info.deals>0">
                        <span class="sale-info">{{i18n.DEALS}}<i class="fa fa-img-up"></i></span>
                        <span class="sale-num">{{manager.info.deals}}</span>
                    </li>
                    <li ng-repeat="(taskType, count) in manager.info.tasks">
                        <span class="sale-info">{{i18n.taskTypes[taskType].uas}}<i class="fa fa-img-down"></i></span>
                        <span class="sale-num">{{count}}</span>
                    </li>
                    <li>
                        <span class="sale-info">{{i18n.MONEY}}</span>
                        <span class="sale-num">{{manager.info.money | currency}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--end col-md-4-->
</div>
<!--end row-->