<!-- BEGIN PORTLET -->
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption caption-md">
            <i class="icon-bar-chart theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase">Your Activity</span>
            <span class="caption-helper hide">weekly stats...</span>
        </div>
        <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
                <label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                    <input type="radio" name="options" class="toggle" id="option1">Today</label>
                <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                    <input type="radio" name="options" class="toggle" id="option2">Week</label>
                <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                    <input type="radio" name="options" class="toggle" id="option3">Month</label>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row number-stats margin-bottom-30">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="stat-left">
                    <div class="stat-chart">
                        <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                        <div id="sparkline_bar"></div>
                    </div>
                    <div class="stat-number">
                        <div class="title">
                            Total
                        </div>
                        <div class="number">
                            2460
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="stat-right">
                    <div class="stat-chart">
                        <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                        <div id="sparkline_bar2"></div>
                    </div>
                    <div class="stat-number">
                        <div class="title">
                            New
                        </div>
                        <div class="number">
                            719
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-scrollable table-scrollable-borderless">
        <table class="table table-hover table-light">
            <thead>
            <tr class="uppercase">
                    <th colspan="2">
                     <span sorter sort="title" filter="filter" paging="pager">{{i18n.title}}</span>
                    </th>
                    <th>
                     <span sorter sort="service" filter="filter" paging="pager">{{i18n.domain.company.service}}</span>
                    </th>
                    <th>
                     <span sorter sort="amount" filter="filter" paging="pager">  {{i18n.domain.company.amount}}</span>
                    </th>
                    <th>
                        RATE
                    </th>
                </tr>
                </thead>
                <tr ng-repeat="company in data">
                    <td class="fit">
                        <img bos-ava contact="company" class="user-pic" h="31" w="31">
                    </td>
                    <td>
                        <a href="#/company/{{company.id}}/home" class="primary-link">{{company.title}}</a>
                    </td>
                    <td>
                        {{i18n.NACE[company.service]}}
                    </td>
                    <td>
                        {{company.info.money | currency}}
                        <!--<span class="label {{company.info.money | dealAmount}} label-sm"> {{company.info.money | dealAmountText}} </span>-->
                    </td>
                  <!--  <td>
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-sm dropdown-toggle"
                                    ng-class="i18n.priorities[lead.priority].color" ng-disabled="disabled">
                                {{i18n.priorities[lead.priority].ua}} <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a ng-href="/edit-lead/{{lead.id}}">
                                        <i class="icon-pencil"></i> {{i18n.EDIT}}
                                    </a>
                                </li>
                                <li>
                                    <a ng-href="/show-lead/{{lead.id}}">
                                        <i class="icon-eye"></i> {{i18n.VIEW}}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a ng-href="/add-task?lead={{lead.id}}&type=CALL">
                                        <i class="icon-call-out"></i> {{i18n.MAKE_CALL}}
                                    </a>
                                </li>
                                <li>
                                    <a ng-href="/add-task?lead={{lead.id}}&type=EMAIL">
                                        <i class="icon-envelope"></i> {{i18n.MAKE_EMAIL}}
                                    </a>
                                </li>
                                <li>
                                    <a ng-href="/add-task?lead={{lead.id}}&type=MEETING">
                                        <i class="icon-users"></i> {{i18n.MAKE_MEETING}}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a ng-href="/add-deal?lead={{lead.id}}">
                                        <i class="icon-note"></i> {{i18n.MAKE_DEAL}}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-submenu pull-left" style="float: none !important;">
                                    <a href="#"><i class="icon-speedometer"></i> {{i18n.CHANGE_PRIORITY}}</a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="priority in i18n.priorities">
                                            <a href="#" ng-class="'btn ' + priority.color"
                                               ng-click="setPriority(lead,priority)">{{priority.ua}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </td>-->
                    <td>
                        <span class="bold theme-font">80%</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div bos-pager></div>
</div>
<!-- END PORTLET -->