<div class="row search-form-default">
    <div class="col-md-12">
        <form ng-submit="fireFilter(pager.simple)">
            <div class="input-group">
                <div class="input-cont">
                    <input ng-model="pager.simple" type="text" placeholder="{{i18n.search}}..." class="form-control">
                </div>
                <span class="input-group-btn">
				    <button type="submit" class="btn green-haze">
                        {{i18n.search}} &nbsp; <i class="m-icon-swapright m-icon-white"></i>
                    </button>
			    </span>
            </div>
        </form>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-advance table-hover">
        <thead>
        <tr>
            <th><i class="icon-briefcase font-blue"></i>
                <span sorter sort="title" filter="filter" paging="pager">{{i18n.title}}</span>
            </th>
            <th class="hidden-xs"><i class="icon-wrench font-blue"></i>
                <span sorter sort="service" filter="filter" paging="pager">{{i18n.domain.company.service}}</span>
            </th>
            <th><i class="icon-wallet"></i> {{i18n.domain.company.amount}}</th>
            <th><i class="icon-user"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="company in data">
            <td><a ng-href="/show-company/{{company.id}}"> {{company.title}} </a></td>
            <td class="hidden-xs"> {{i18n.NACE[company.service]}}</td>
            <td> {{company.info.money | currency}}
                <span class="label {{company.info.money | dealAmount}} label-sm"> {{company.info.money | dealAmountText}} </span>
            </td>
            <td><a ng-href="/add-lead?company={{company.id}}" tooltip="{{i18n.domain.company.addLead}}" class="btn btn-sm green"><i class="fa fa-plus"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>
<div bos-pager></div>