<div class="row profile">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-unstyled profile-nav" style="margin-bottom: 1px"></ul>

                <ul class="ver-inline-menu tabbable margin-bottom-10">
                    <li ng-class="{active: tab == 0}">
                        <a href="#" ng-click="tab = 0"><i class="fa fa-info"></i> {{i18n.contactInfo}} </a>
                        <span class="after"></span>
                    </li>
                    <li ng-class="{active: tab == 1}">
                        <a href="#" ng-click="tab = 1"><i class="fa fa-calendar"></i> {{i18n.ACTIVITY}} </a>
                    </li>
                    <li ng-class="{active: tab == 2}">
                        <a href="#" ng-click="tab = 2"><i class="fa fa-users"></i> {{i18n.domain.company.workers}}
                        </a>
                    </li>
                </ul>

                <a ng-href="/add-lead?company={{company.id}}" class="btn btn-circle btn-sm btn-block green">
                    <i class="fa fa-plus"></i> {{i18n.domain.company.addLead}} </a>
            </div>
            <div class="col-md-9">
                <div ng-show="tab == 0">
                    <div ng-include="'/bos-app/actors/company/bricks/show/info.html'"></div>
                </div>
                <div ng-show="tab == 1">
                    <div bos-feeds></div>
                </div>
                <div ng-show="tab == 2">
                    <div bos-workers></div>
                </div>
            </div>
        </div>
    </div>
</div>