<form name="accountForm" class="margin-bottom-10 form-horizontal" ng-submit="add(account)">
    <div class="row">
        <div class="col-md-6">
            <div class="input-icon">
                <i class="icon-envelope"></i>
                <input type="text" ng-model="account.username" class="form-control" placeholder="Email" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-icon">
                <i class="icon-key"></i>
                <input type="password" ng-model="account.password" class="form-control" placeholder="{{i18n.pass}}" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="input-icon">
                <i class="icon-globe"></i>
                <input type="text" ng-model="account.host" class="form-control" placeholder="{{i18n.smtp}}" required>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-icon">
                <i class="icon-wrench"></i>
                <input type="number" ng-model="account.port" class="form-control" placeholder="{{i18n.port}}" required>
            </div>
        </div>

        <div class="col-md-3">
            <div class="input-icon">
                <i class="icon-wrench"></i>
                <select ng-options="p for p in ['TLS','SSL']" ng-model="account.protocol" class="form-control" required></select>
            </div>
        </div>
        <div class="col-md-3">
            <button ng-disabled="!accountForm.$valid" type="submit" class="btn btn-icon-only green btn-circle"
                    tooltip="{{i18n.domain.manager.addAccount}}">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</form>
<table class="table table-striped table-bordered table-advance table-hover">
    <thead>
    <tr>
        <th>Email</th>
        <th>{{i18n.host}}</th>
        <th>{{i18n.port}}</th>
        <th>{{i18n.protocol}}</th>
        <th><i class="icon-trash"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="account in data">
        <td>{{account.username}}</td>
        <td>{{account.host}}</td>
        <td>{{account.port}}</td>
        <td width="8%">{{account.protocol.name}}</td>
        <td width="10%">
            <div class="btn-group btn-group-solid">
                <a type="button" href="#" ng-click="remove(account)"
                   class="btn btn-icon-only btn-circle red" tooltip="{{i18n.domain.manager.removeAccount}}">
                    <i class="fa fa-minus"></i>
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>