<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label col-md-2">{{i18n.domain.company.address.name}}</label>

            <div class="col-md-10 input-icon">
                <i ng-class="{'fa fa-refresh fa-spin':loadingAddress,'fa fa-home':!loadingAddress}"></i>
                <input ng-paste="pastello();" type="text" ng-model="address.textual" name="address"
                       placeholder="{{i18n.domain.company.address.help}}"
                       typeahead="address as address.formatted_address for address in getLocations($viewValue)"
                       typeahead-loading="loadingAddress" class="form-control"
                       typeahead-on-select="selectAddress($item, $model, $label)">
            </div>
        </div>
    </div>
</div>

<div class="row margin-bottom-10" ng-if="location.actual">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label col-md-2">{{i18n.domain.company.address.map}}</label>

            <div class="col-md-10">
                <leaflet width="100%" height="300px" center="location" markers="markers"></leaflet>
            </div>
        </div>
    </div>
</div>

<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<div class="form-group" ng-class="{'has-error': dataForm.country.$invalid && dataForm.address.$dirty}">-->
<!--<label class="control-label col-md-3">{{i18n.domain.company.address.country}}</label>-->

<!--<div class="col-md-9">-->
<!--<input type="text" ng-model="address.country" class="form-control" name="country"-->
<!--placeholder="{{i18n.domain.company.address.countryHelp}}">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<div class="form-group" ng-class="{'has-error': dataForm.region.$invalid && dataForm.address.$dirty}">-->
<!--<label class="control-label col-md-3">{{i18n.domain.company.address.region}}</label>-->

<!--<div class="col-md-9">-->
<!--<input type="text" ng-model="address.region" class="form-control" name="region"-->
<!--placeholder="{{i18n.domain.company.address.regionHelp}}">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<div class="form-group" ng-class="{'has-error': dataForm.locality.$invalid && dataForm.address.$dirty}">-->
<!--<label class="control-label col-md-3">{{i18n.domain.company.address.locality}}</label>-->

<!--<div class="col-md-9">-->
<!--<input type="text" ng-model="address.locality" class="form-control" name="locality"-->
<!--placeholder="{{i18n.domain.company.address.localityHelp}}">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<div class="form-group">-->
<!--<label class="control-label col-md-3">{{i18n.domain.company.address.area}}</label>-->

<!--<div class="col-md-9">-->
<!--<input type="text" ng-model="address.area" class="form-control"-->
<!--placeholder="{{i18n.domain.company.address.areaHelp}}">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<div class="form-group" ng-class="{'has-error': dataForm.street.$invalid && dataForm.address.$dirty}">-->
<!--<label class="control-label col-md-3">{{i18n.domain.company.address.street}}</label>-->

<!--<div class="col-md-9">-->
<!--<input type="text" ng-model="address.street" class="form-control" name="street"-->
<!--placeholder="{{i18n.domain.company.address.streetHelp}}">-->
<!--<span class="help-block" ng-show="!dataForm.address.$dirty">-->
<!--{{address.sublocality}}-->
<!--</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<div class="form-group" ng-class="{'has-error': dataForm.streetNumber.$invalid && dataForm.address.$dirty}">-->
<!--<label class="control-label col-md-3">{{i18n.domain.company.address.streetNumber}}</label>-->

<!--<div class="col-md-9">-->
<!--<input type="text" ng-model="address.streetNumber" class="form-control" name="streetNumber"-->
<!--placeholder="{{i18n.domain.company.address.streetNumberHelp}}">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label col-sm-2">{{i18n.domain.company.address.comment.name}}</label>

            <div class="col-md-10">
                <textarea ng-model="address.comment" class="form-control"></textarea>
                            <span class="help-block" ng-show="!dataForm.address.$dirty">
                                {{i18n.domain.company.address.comment.help}}
                            </span>
            </div>
        </div>
    </div>
</div>