<div>
    <div ng-repeat="phone in contact.fields|filter:{type:'PHONE'}" class="margin-top-20 profile-desc-link">
        <i class="fa fa-phone"></i>
        <i>{{phone.value}}</i>
    </div>
    <div class="margin-top-20 profile-desc-link" ng-repeat="email in contact.fields|filter:{type:'EMAIL'}">
        <i class="fa fa-at"></i>
        <i>{{email.value}}</i>
    </div>
    <div class="margin-top-20 profile-desc-link" ng-repeat="social in contact.fields|filter:{type:'SOCIAL'}">
        <i class="fa fa-globe"></i>
        <a href="{{social.value}}">{{social.value}}</a>
    </div>
</div>
