<div class="modal-body">
    <form ng-submit="save(modalForm)" id="modalForm" name="modalForm" class="form-horizontal">
        <!--<div class="portlet light bg-inverse">-->
        <div class="portlet-body form">
            <div class="form-body">
                <div ng-include="tabConfig.tabs[0].template"></div>
            </div>
        </div>
        <!--</div>-->
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">{{i18n.DENY}}</button>
    <button form="modalForm" type="submit" ng-disabled="!modalForm.$valid"
            class="btn btn-success"> {{i18n.SAVE}}
    </button>
</div>