<a type="button" href="#" ng-click="addItem()"
   class="btn default green" tooltip="{{i18n.ADD}}">
    <i class="fa fa-plus"></i>
</a>
<table class="table table-striped table-bordered table-advance table-hover">
    <thead>
    <tr>
        <th>{{i18n.title}}</th>
        <th>{{i18n.domain.company.accountNumber}}</th>
        <th>{{i18n.details}}</th>
        <th>{{i18n.domain.company.mfo}}</th>
        <th>{{i18n.domain.company.stateId}}</th>
        <th>{{i18n.ADD}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in items">
        <td><input type="text" ng-model="item.name" class="form-control" id="name" placeholder="{{i18n.title}}"></td>
        <td><input type="text" ng-model="item.accountNumber" class="form-control" placeholder="{{i18n.domain.company.accountNumber}}"></td>
        <td><input type="text" ng-model="item.accountDetails" class="form-control" placeholder="{{i18n.details}}"></td>
        <td><input type="text" ng-model="item.mfo" class="form-control" placeholder="{{i18n.domain.company.mfo}}"></td>
        <td><input type="text" ng-model="item.stateId" class="form-control" placeholder="{{i18n.domain.company.stateId}}"></td>
        <td>
            <div class="btn-group btn-group-solid" ng-show="$last">
                <a type="button" href="#" ng-click="removeItem($index)"
                   class="btn default red" tooltip="{{i18n.REMOVE}}">
                    <i class="fa fa-minus"></i>
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>