<form ng-submit="send(subject, desc)" class="form-horizontal">
    <div class="modal-header">
        <h3 class="modal-title">Залишити відгук
        </h3>
    </div>
    <div class="modal-body">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Тема</label>

                    <div class="col-md-9">
                        <div class="input-group">
															<span class="input-group-addon">
															<i class="fa fa-envelope"></i>
															</span>
                            <input type="text" class="form-control" placeholder="Введіть Тему" ng-model="subject">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Відгук</label>

                    <div class="col-md-9">
                        <textarea type="text" class="form-control" rows="8" placeholder="Введіть відгук"
                                  ng-model="desc"></textarea>
                    </div>
                </div>
            </div>

    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn blue">Відправити</button>
                <button type="button" class="btn default" ng-click="cancel()">Відміна</button>
            </div>
        </div>
    </div>
</form>
