<div>
    <div class="portlet box blue-hoki">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-pencil"></i>Import
            </div>
        </div>
        <div class="portlet-body form" method="post">
            <!-- BEGIN FORM-->
            <form  ng-submit="import()" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-actions top"  name="buttonsBodyHolder" style="margin-bottom : 0px">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                             <span class="btn green fileinput-button" ng-class="{disabled: disabled}" id="files">
                    <i class="fa fa-file-excel-o"></i>
                    <span>Import Excel Base</span>
                    <input type="file" file-input="files" ng-disabled="disabled">
                </span>
                            <button type="submit" class="btn blue start" id="submit">
                                <i class="fa fa-upload"></i>
                                <span>Start upload</span>
                            </button>
                            <button type="button" ng-click="addAdditionalField()" class="btn default">
                                <i class="fa fa-plus"></i>
                                <span>Add Nonstandart Field</span>
                            </button>
                            <button type="button" ng-click="removeAdditionalField()" class="btn default">
                                <i class="fa fa-minus"></i>
                                <span>Remove Last Field</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-body" name="additionalFieldsBodyHolder" style="padding-top : 0px; padding-bottom : 0px">
                    <div class="form-group" ng-repeat="value in getAdditionalSize()">
                        <div class="row">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-medium" placeholder="Name of table"
                                       ng-model="importData[$index]['tableHeader']">

                            </div>

                            <div class="col-md-3">
                                <input type="text" class="form-control input-medium" placeholder="Save in database as"
                                       ng-model="importData[$index]['saveAs']">

                            </div>
                        </div>
                    </div>
                    <!--<div class="form-group last">
                        <label class="col-md-3 control-label">Static Control</label>
                        <div class="col-md-4">
                            <p class="form-control-static">
                                email@example.com
                            </p>
                        </div>
                    </div>-->
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
</div>