<div>

    <div class="row fileupload-buttonbar" ng-controller="MyFileUploadController" method="post">
        <!-- The file upload form used as target for the file upload widget -->
        <form ng-submit="upload(fileList)" enctype="multipart/form-data">
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <div class="row fileupload-buttonbar">
                <div class="col-lg-7">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn green fileinput-button" ng-class="{disabled: disabled}">
                    <i class="fa fa-plus"></i>
                    <span>Add files...</span>
                    <input type="file" multiple="" file-input="files" ng-disabled="disabled" ng-module="fileList">
                    <!--name="files[]" multiple=""-->
                </span>
                    <button type="submit" class="btn blue start">
                        <i class="fa fa-upload"></i>
                        <span>Start upload</span>
                    </button>
                    <button type="button" class="btn warning cancel" data-ng-click="cancel()">
                        <i class="fa fa-ban-circle"></i>
                        <span>Cancel upload</span>
                    </button>
                </div>
            </div>
            <li ng-repeat="file in files">Name : {{file.name}} Size : {{file.size}}</li>
        </form>
    </div>

</div>