<!--<div ng-if="log.author!=null" bos-ava contact="log.author.contact" h="45" w="45" class="avatar"></div>

<div class="message">
    <span class="arrow"></span>
    <a ng-href="/show-manager/{{log.author.id}}" class="name">{{log.author.contact.fullName}} </a>
    <span class="datetime">{{log.dateCreated|date:'dd MMMM yyyy'}} о {{log.dateCreated|date:'HH:mm'}} </span>
	<span class="body"> {{log | bosAuditDescr}}
        <a ng-href="{{log | bosAuditLink}}">
            {{log | bosAuditEntity}} <i class="fa fa-share"></i>
        </a>&nbsp
        <span ng-show="log.type == 'UPDATE'">
            З "<span class="label label-sm label-info ">{{log.oldValue}}</span>"
            на "<span class="label label-sm label-info ">{{log.newValue}}</span>"
        </span>
    </span>
</div>-->

<div class="timeline-badge">
    <div ng-if="log.author!=null" bos-ava contact="log.author.contact" class="timeline-badge-userpic"></div>
</div>
<div class="timeline-body">
    <div class="timeline-body-arrow"></div>
    <div class="timeline-body-head">
        <div class="timeline-body-head-caption">
            <a href="#/manager/{{log.author.id}}" class="timeline-body-title font-blue-madison">{{log.author.contact.fullName}}</a>
            <span class="timeline-body-time font-grey-cascade">{{log.dateCreated|date:'dd MMMM yyyy'}} о {{log.dateCreated|date:'HH:mm'}} (<span am-time-ago="log.dateCreated"></span>)</span>
        </div>
        <!--<div class="timeline-body-head-actions">
            <div class="btn-group">
                <button class="btn btn-circle green-haze btn-sm dropdown-toggle" type="button"
                        data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    Actions <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Action </a></li>
                    <li><a href="#">Another action </a></li>
                    <li><a href="#">Something else here </a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link </a></li>
                </ul>
            </div>
        </div>-->
    </div>
    <div class="timeline-body-content">
        <span class="font-grey-cascade">{{log | bosAuditDescr}}</span>
        <a href="">{{log | bosAuditEntity}}</a><br>
    </div>
</div>

<!--<div class="col1">-->
<!--<div class="cont">-->
<!--<div class="cont-col1">-->
<!--<div class="label label-sm {{log.type | eventColorFilter}}">-->
<!--<i class="fa {{log.type | eventIconFilter}}"></i>-->
<!--<i class="fa {{log.class | classIconFilter}}"></i>-->
<!--</div>-->
<!--</div>-->
<!--<div class="cont-col2" style="margin-left: 17px">-->
<!--<div class="desc">-->
<!--<a ng-href="/show-manager/{{log.author.id}}">{{log.author.contact.fullName}}</a> {{log |-->
<!--logDescription}}-->
<!--<a ng-href="{{log | entityRefFilter}}" class="label label-sm {{log.type | eventColorFilter}}">-->
<!--{{log | entityRefDescrFilter}} <i class="fa fa-share"></i>--
<!--</a>&nbsp-->
<!--<span ng-show="log.type == 'UPDATE'">-->
<!--З (<span class="label label-sm label-info ">{{log.oldValue}}</span>) на-->
<!--<span class="label label-sm label-info ">{{log.newValue}}</span>-->
<!--</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col3">-->
<!--<div class="date">{{log.dateCreated | date:'dd MMMM yyyy HH:mm'}}</div>-->
<!--</div>-->