<!--<div class="col-md-12">-->
    <div class="portlet light bordered">
        <div class="portlet-title tabbable-line">
        <span class="caption-subject bold font-blue-madison uppercase">
            {{i18n.ACTIVITY}}
        </span>

            <ul class="nav nav-tabs blue">
                <li ng-class="{active:!author.val}">
                    <a href="#" ng-click="all()"> {{i18n.all}} </a></li>

                <li ng-class="{active:author.val}">
                    <a href="#" ng-click="my(myProfile)">{{i18n.my}} </a></li>
            </ul>


            <ul class="nav nav-tabs">
                <li ng-class="{active:!type.val}">
                    <a href="#" ng-click="allTypes()"> {{i18n.ALL}} </a></li>
                <li ng-repeat="t in i18n.domains"
                    ng-class="{active:type.val == t.name}">
                    <a href="#" ng-click="getByType(t.name)"> {{t.ua}} </a></li>
            </ul>


        </div>
    </div>
    <div class="timeline">
        <div class="timeline-item" ng-repeat="log in data" class="in">
            <div ng-if="log.fieldName!='version' && log.fieldName!='lastUpdated'"><bos-feed log="log"></bos-feed></div>
        </div>
    </div>
    <div bos-pager></div>
<!--</div>-->

