<div class="row">
    <div class="col-md-12">
        <div class="portlet box green-meadow calendar">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>{{i18n.CALENDAR}}
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <!--                    <div class="col-md-3 col-sm-12">-->
                    <!-- BEGIN DRAGGABLE EVENTS PORTLET-->
                    <!--                        <h3 class="event-form-title">Draggable Events</h3>
                                            <div id="external-events">
                                                <form class="inline-form">
                                                    <input type="text" value="" class="form-control" placeholder="com.clabs.bos.crm.util.event.Event Title..." id="event_title"/><br/>
                                                    <a href="javascript:;" id="event_add" class="btn default">
                                                        Add com.clabs.bos.crm.util.event.Event </a>
                                                </form>
                                                <hr/>
                                                <div id="event_box">
                                                </div>
                                                <label for="drop-remove">
                                                    <input type="checkbox" id="drop-remove"/>remove after drop </label>
                                                <hr class="visible-xs"/>
                                            </div>-->
                    <!-- END DRAGGABLE EVENTS PORTLET-->
                    <!--                    </div>-->
                    <div class="col-md-12 col-sm-12">
                        <div bos-calendar class="has-toolbar">
                        </div>
                    </div>
                </div>
                <!-- END CALENDAR PORTLET-->
            </div>
        </div>
    </div>
</div>