<div class="timeline-badge">
    <div class="timeline-icon"><i class="font-blue" ng-class="i18n.taskTypes[log.type].icon"></i></div>
</div>
{{i18n.taskTypes}}
<div class="timeline-body" style="margin-left: 9%">
    <div class="timeline-body-arrow"></div>
    <div class="timeline-body-head">
        <div class="timeline-body-head-caption">
            <a href="#/task/{{log.id}}" class="timeline-body-title font-blue-madison">{{log.title}}</a>
            <span class="timeline-body-time font-grey-cascade">Duration: from {{log.startDate|date:'dd MMMM yyyy'}} {{log.startDate|date:'HH:mm'}} to {{log.dueDate|date:'dd MMMM yyyy HH:mm'}}</span>
        </div>
        <!--<div class="timeline-body-head-actions">
            <div class="btn-group">
                <button class="btn btn-circle green-haze btn-sm dropdown-toggle" type="button"
                        data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    Actions <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Action </a></li>
                    <li><a href="#">Another action </a></li>
                    <li><a href="#">Something else here </a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link </a></li>
                </ul>
            </div>
        </div>-->
    </div>
    <div class="timeline-body-content" style="margin-top: 15px"><br>
        <span class="font-grey-cascade">{{log.description}}</span><br>
        <span class="font-grey-cascade">Priority Пріорітет: </span><span class="label" ng-class="'bg-' + i18n.taskPriorities[log.priority].color">{{i18n.taskPriorities[log.priority].ua}}</span>
        <span class="font-grey-cascade">Status: </span>
        <div class="btn-group">
            <button type="button" dropdown-menu-hover class="btn btn-sm dropdown-toggle"
                    ng-class="i18n.taskStatuses[log.status].color" ng-disabled="disabled">
                {{i18n.taskStatuses[log.status].ua}} <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-default" role="menu">
                <li>
                    <a ng-href="#/task/{{task.id}}">
                        <i class="icon-eye"></i> {{i18n.VIEW}} </a>
                </li>
                <li>
                    <a ng-href="#/task/{{task.id}}/edit">
                        <i class="icon-pencil"></i> {{i18n.EDIT}} </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a ng-href="#" ng-click="checkTask(task)">
                        <i class="icon-check"></i> {{i18n.domain.task.finish}} </a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-submenu pull-left" style="float: none !important;">
                    <a href="#"><i class="icon-speedometer"></i> {{i18n.CHANGE_STATUS}}</a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="status in i18n.taskStatuses">
                            <a href="#" ng-class="'btn ' + status.color" ng-click="setStatus(task,status)">{{status.ua}}</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu pull-left" style="float: none !important;">
                    <a href="#"><i class="icon-note"></i> {{i18n.CHANGE_PRIORITY}}</a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="priority in i18n.taskPriorities">
                            <a href="#" ng-class="'btn ' + priority.color"
                               ng-click="setPriority(task,priority)">{{priority.ua}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
