<div class="row">
    <div class="col-md-8 profile-info">
        <h1>{{company.title}}</h1>

        <p>{{company.description}}</p>

        <ul class="list-inline">
            <li ng-if="company.address">
                <i class="icon-pointer"></i> {{company.address.textual}}
            </li>
            <li>
                <i class="icon-calendar"></i> {{company.dateCreated|date:'shortDate'}}
            </li>
            <li>
                <i class="icon-wrench"></i> {{i18n.NACE[company.service]}}
            </li>
        </ul>

        <div bos-contact-info contact="company" is-company></div>
    </div>
    <div class="col-md-4">
        <div class="portlet sale-summary">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-notebook font-green-haze"></i>
                    <span class="caption-subject bold font-green-haze uppercase">{{i18n.INFO}}</span>
                </div>
            </div>
            <div class="portlet-body">
                <ul class="list-unstyled">
                    <li>
                        <span class="sale-info">{{i18n.DEALS}}<i class="fa fa-img-up"></i></span>
                        <span class="sale-num">{{company.info.deals}}</span>
                    </li>
                    <li>
                        <span class="sale-info">{{i18n.CALLS}}<i class="fa fa-img-down"></i></span>
                        <span class="sale-num">{{company.info.calls}}</span>
                    </li>
                    <li>
                        <span class="sale-info">{{i18n.MEETINGS}}<i class="fa fa-img-up"></i></span>
                        <span class="sale-num">{{company.info.meets}}</span>
                    </li>
                    <li>
                        <span class="sale-info">{{i18n.MONEY}}</span>
                        <span class="sale-num">{{company.info.money | currency}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
