<div class="modal-header">
    <h3 class="modal-title">{{i18n.domain.task.setResult}}
        <small>{{i18n.domain.task.setResultHelp}}.</small>
    </h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="portlet light">

            <div class="portlet-title tabbable-line">
                <ul class="nav nav-tabs pull-left">
                    <li ng-repeat="result in [i18n.taskStatuses.SUCCESS, i18n.taskStatuses.IN_PAUSE, i18n.taskStatuses.FAILURE]"
                        class="{{result.color}}" ng-class="{active:check.status==result.name}">
                        <a href="#" ng-click="check.status=result.name"> {{result.ua}} </a></li>
                </ul>
            </div>
            <div class="portlet-body">
                <div ng-show="check.status=='IN_PAUSE'">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">{{i18n.domain.task.taskStart}}</label>

                            <div bos-date-picker date="task.startDate"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">{{i18n.domain.task.taskEnd}}</label>

                            <div bos-date-picker date="task.dueDate"></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{i18n.details}}</label>
                    <textarea class="form-control" placeholder="{{i18n.domain.task.resultPlaceholder}}"
                              ng-model="task.result"></textarea>
                </div>


                <div class="form-group">
                    <label>{{i18n.domain.task.setNextTask}}</label>

                    <div class="btn-toolbar">
                        <button ng-repeat="taskType in i18n.taskTypes" ng-model="actions.nextTask"
                                btn-radio="taskType.name" tooltip="{{taskType.ua}}" class="btn btn-default">
                            <i class="fa" ng-class="taskType.icon"></i>
                        </button>
                    </div>
                </div>

                <div ng-show="task.lead!=null" class="form-group">
                    <label>{{i18n.domain.lead.changePriority}}</label>

                    <div class="btn-toolbar">
                        <button ng-repeat="p in i18n.priorities" ng-click="task.lead.priority=p.value"
                                popover="{{p.description}}" popover-title="{{p.ua}}" popover-trigger="mouseenter"
                                class="btn" ng-class="p.color" type="button">{{p.value}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">{{i18n.DENY}}</button>
    <button class="btn btn-success" ng-click="saveResult()">{{i18n.SAVE}}</button>
</div>