<div class="row profile">
    <form ng-submit="save(dataForm, task)" name="dataForm" class="form-horizontal" novalidate>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <!--<div class="margin-bottom-10">-->
                    <!--<select class="form-control" ng-model="task.type">-->
                    <!--<option ng-repeat="t in i18n.taskTypes" value="{{t.name}}" ng-selected="t.name==task.type">-->
                    <!--{{t.ua}}-->
                    <!--</option>-->
                    <!--</select>-->
                    <!--</div>-->

<!--                    <div class="list-group">
                        <a ng-repeat="type in i18n.taskTypes" ng-click="task.type = type.name"
                           ng-class="{active:type.name==task.type}" href="#"
                           class="list-group-item"><i ng-class="type.icon"></i>
                            <span>&nbsp;&nbsp; {{type.ua}} </span></a>
                    </div>-->

                    <!--<ul class="list-unstyled profile-nav" style="margin-bottom: 1px">-->
                    <!--<li>-->
                    <!--<div ng-if="entity!=null" bos-ready-avatar image="image" height="820" width="674"-->
                    <!--alt="entity.contact.fullName" class="img-responsive"></div>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--<ul class="ver-inline-menu tabbable margin-bottom-10">-->
                    <!--<li ng-class="{active: tab == 0}">-->
                    <!--<a href="#" ng-click="tab = 0"><i class="fa fa-info"></i> {{i18n.INFO}}</a>-->
                    <!--<span class="after"></span>-->
                    <!--</li>-->
                    <!--</ul>-->

                    <div class="margin-top-10">
                        <button type="submit" ng-disabled="!dataForm.$valid || !task.responsible"
                                class="btn green btn-block"> {{i18n.SAVE}}
                        </button>
                        <a ng-click="cancel()" class="btn red btn-block">{{i18n.DENY}}</a>
                    </div>

                </div>
                <div class="col-md-9">
                    <div class="portlet light bg-inverse">
                        <div class="portlet-body form">
                            <div class="form-body">
                                <div ng-if="task.type != 'MAIL'">
                                    <h3 class="form-section">{{i18n.taskTypes[task.type].ua}}</h3>

                                    <div ng-include="'/bos/crm/core/task/views/edit/head.html'"></div>

                                    <div ng-include="'/bos/crm/core/task/views/edit/account.html'"></div>
                                </div>
                              <!--  <div ng-if="task.type != 'PROJECT' && task.type != 'CALENDAR_EVENT' && task.type != 'MAIL'">-->

                                        <h4 class="form-section">{{i18n.domain.task[task.type].regards}}</h4>

                                        <div ng-include="'/bos/crm/core/task/views/edit/regards.html'"></div>

                               <!-- </div>-->
                                <div ng-switch="task.type">
                                    <div ng-switch-when="MEETING">
                                        <h4 class="form-section">{{i18n.domain.task.address}}</h4>

                                        <div bos-address value="task.address"></div>
                                    </div>
                                    <div ng-switch-when="MAIL">
                                        <div ng-include="'/bos/core/crm/task/views/edit/email.html'"></div>
                                    </div>
                                    <div ng-switch-when="CALENDAR_EVENT">
                                        <h4 class="form-section">{{i18n.domain.task.address}}</h4>

                                        <div bos-address value="task.address"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class=" col-md-12 ">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">{{i18n.domain.task.supertask}}</label>

                                            <div class="col-md-10 input-icon">
                                                <input type="text" bos-entity-select entity="task.supertask"
                                                       bos-find-fn="findTaskByName(term)"
                                                       class="form-control select2me">
                                                <!--<i ng-class="{'fa fa-check':!loadingTask,'fa fa-spinner fa-spin':loadingTask}"></i>-->
                                                <!--<input type="text" ng-model="task.supertask"-->
                                                <!--placeholder="{{i18n.domain.task.setSupertask}}"-->
                                                <!--typeahead="t as t.title for t in findTaskByName($viewValue)"-->
                                                <!--class="form-control" typeahead-loading="loadingTask">-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>