<!-- BEGIN PORTLET -->
<div class="portlet light ">
    <!--<div class="portlet-title">-->
    <!--<div class="caption caption-md">-->
    <!--<i class="icon-bar-chart theme-font hide"></i>-->
    <!--<span class="caption-subject font-blue-madison bold uppercase">Your Activity</span>-->
    <!--<span class="caption-helper hide">weekly stats...</span>-->
    <!--</div>-->
    <!--<div class="actions">-->
    <!--<div class="btn-group btn-group-devided" data-toggle="buttons">-->
    <!--<label class="btn btn-transparent grey-salsa btn-circle btn-sm active">-->
    <!--<input type="radio" name="options" class="toggle" id="option1">Today</label>-->
    <!--<label class="btn btn-transparent grey-salsa btn-circle btn-sm">-->
    <!--<input type="radio" name="options" class="toggle" id="option2">Week</label>-->
    <!--<label class="btn btn-transparent grey-salsa btn-circle btn-sm">-->
    <!--<input type="radio" name="options" class="toggle" id="option3">Month</label>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="portlet-body">
        <!--<div class="row number-stats margin-bottom-30">-->
        <!--<div class="col-md-6 col-sm-6 col-xs-6">-->
        <!--<div class="stat-left">-->
        <!--<div class="stat-chart">-->
        <!--&lt;!&ndash; do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break &ndash;&gt;-->
        <!--<div id="sparkline_bar"></div>-->
        <!--</div>-->
        <!--<div class="stat-number">-->
        <!--<div class="title">-->
        <!--Всього-->
        <!--</div>-->
        <!--<div class="number">-->
        <!--{{count}}-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-6 col-sm-6 col-xs-6">-->
        <!--<div class="stat-right">-->
        <!--<div class="stat-chart">-->
        <!--&lt;!&ndash; do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break &ndash;&gt;-->
        <!--<div id="sparkline_bar2"></div>-->
        <!--</div>-->
        <!--<div class="stat-number">-->
        <!--<div class="title">-->
        <!--Нових-->
        <!--</div>-->
        <!--<div class="number">-->
        <!--{{count}}-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="table-scrollable table-scrollable-borderless">
            <table class="table table-hover table-light">
                <thead>
                <tr class="uppercase">
                    <th colspan="2"><span sorter sort="type" filter="filter" paging="pager"><i class="icon-check font-blue"></i></span></th>
                    <th>
                        <span sorter sort="title" filter="filter" paging="pager">{{i18n.title}}</span></th>
                    <th><i class="icon-user font-blue"></i>
                <span sorter sort="lead.contact.fullName" filter="filter"
                      paging="pager">{{i18n.domain.lead.name[0]}}</span></th>
                    <th class="hidden-xs"><i class="icon-calendar font-blue"></i>
                        <span sorter sort="startDate" filter="filter" paging="pager">{{i18n.domain.task.start}}</span></th>
                    <th><i class="icon-calendar font-blue"></i>
                        <span sorter sort="dueDate" filter="filter" paging="pager">{{i18n.domain.task.end}}</span></th>
                    <th width="13%"><i class="icon-speedometer font-blue"></i>
                        <span sorter sort="priority" filter="filter" paging="pager">{{i18n.domain.task.priority}}</span></th>
                    <th width="12%"><i class="icon-speedometer font-blue"></i>
                        <span sorter sort="status" filter="filter" paging="pager">{{i18n.domain.task.status}}</span></th>
                    <th class="hidden-xs"><i class="icon-user font-blue"></i>
                        <span sorter sort="responsible.contact.fullName" filter="filter" paging="pager">{{i18n.domain.task.responsible}}</span>
                    </th>
                </tr>
                </thead>
                <tr ng-repeat="task in data" class="repeated-item" style="cursor: pointer">
                    <td colspan="2" class="fit"><i class="font-blue" ng-class="i18n.taskTypes[task.type].icon"></i></td>
                    <td>
                        <a ng-href="#/task/{{task.id}}" ng-class="{done:isDone(task)}"
                           popover="{{task.result}}" popover-title="{{i18n.domain.task.result}}"
                           popover-trigger="mouseenter" popover-placement="right"> {{task.title}} </a>
                    </td>
                    <td><a ng-href="/lead/{{task.lead.id}}">{{task.lead.contact.fullName}}</a></td>
                    <td>{{task.startDate|date:'short'}}</td>
                    <td class="hidden-xs hidden-sm">{{task.dueDate|date:'short'}}</a></td>
                    <td width="13%" align="center">
                        <span class="label" ng-class="'bg-' + i18n.taskPriorities[task.priority].color">{{i18n.taskPriorities[task.priority].ua}}</span>
                    </td>
                    <td width="12%" align="center">
                        <div class="btn-group">
                            <button type="button" dropdown-menu-hover class="btn btn-sm dropdown-toggle"
                                    ng-class="i18n.taskStatuses[task.status].color" ng-disabled="disabled">
                                {{i18n.taskStatuses[task.status].ua}} <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-default" role="menu">
                                <li>
                                    <a ng-href="#/task/{{task.id}}">
                                        <i class="icon-eye"></i> {{i18n.VIEW}} </a>
                                </li>
                                <li>
                                    <a ng-href="#/task/{{task.id}}/edit">
                                        <i class="icon-pencil"></i> {{i18n.EDIT}} </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a ng-href="#" ng-click="checkTask(task)">
                                        <i class="icon-check"></i> {{i18n.domain.task.finish}} </a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-submenu pull-left" style="float: none !important;">
                                    <a href="#"><i class="icon-speedometer"></i> {{i18n.CHANGE_STATUS}}</a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="status in i18n.taskStatuses">
                                            <a href="#" ng-class="'btn ' + status.color" ng-click="setStatus(task,status)">{{status.ua}}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu pull-left" style="float: none !important;">
                                    <a href="#"><i class="icon-note"></i> {{i18n.CHANGE_PRIORITY}}</a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="priority in i18n.taskPriorities">
                                            <a href="#" ng-class="'btn ' + priority.color"
                                               ng-click="setPriority(task,priority)">{{priority.ua}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <a ng-href="#/manager/{{task.responsible.id}}">{{task.responsible.contact.fullName}}</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div bos-pager></div>
</div>
<!-- END PORTLET -->