<div class="responsive-table">
    <table class="table table-striped table-bordered table-advance table-hover">
        <thead>
        <tr>
            <th><span sorter sort="type" filter="filter" paging="pager"><i class="icon-check font-blue"></i></span></th>
            <th><i class="icon-check font-blue"></i>
                <span sorter sort="title" filter="filter" paging="pager">{{i18n.title}}</span></th>
            <th><i class="icon-user font-blue"></i>
                <span sorter sort="lead.contact.fullName" filter="filter"
                      paging="pager">{{i18n.domain.lead.name[0]}}</span></th>
            <th class="hidden-xs"><i class="icon-calendar font-blue"></i>
                <span sorter sort="startDate" filter="filter" paging="pager">{{i18n.domain.task.start}}</span></th>
            <th><i class="icon-calendar font-blue"></i>
                <span sorter sort="dueDate" filter="filter" paging="pager">{{i18n.domain.task.end}}</span></th>
            <th width="13%"><i class="icon-speedometer font-blue"></i>
                <span sorter sort="priority" filter="filter" paging="pager">{{i18n.domain.task.priority}}</span></th>
            <th width="12%"><i class="icon-speedometer font-blue"></i>
                <span sorter sort="status" filter="filter" paging="pager">{{i18n.domain.task.status}}</span></th>
            <th class="hidden-xs"><i class="icon-user font-blue"></i>
                <span sorter sort="responsible.contact.fullName" filter="filter" paging="pager">{{i18n.domain.task.responsible}}</span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in data" ng-mouseover="table.hover=task.id" ng-mouseleave="table.hover=-1"
            ng-class="{danger:isDanger(task)}">
            <td class="hidden-xs">
                <i class="font-blue" ng-class="i18n.taskTypes[task.type].icon"></i>
            </td>
            <td width="40%" class="highlight">
                <!--<div ng-class="i18n.taskStatuses[task.status].stripe"></div>-->
                <a ng-href="/show-task/{{task.id}}" ng-class="{done:isDone(task)}"
                   popover="{{task.result}}" popover-title="{{i18n.domain.task.result}}"
                   popover-trigger="mouseenter" popover-placement="right"> {{task.title}} </a>
            </td>
            <td width="20%">
                <a ng-href="/show-lead/{{task.lead.id}}">{{task.lead.contact.fullName}}</a>
            </td>
            <td class="hidden-xs">
                {{task.startDate|date:'short'}}
            </td>
            <td class="hidden-xs">
                {{task.dueDate|date:'short'}}
            </td>
            <td align="center">
                <span class="label" ng-class="'bg-' + i18n.taskPriorities[task.priority].color">{{i18n.taskPriorities[task.priority].ua}}</span>
            </td>
            <td align="center">
                <div class="btn-group">
                    <button type="button" dropdown-menu-hover class="btn btn-sm dropdown-toggle"
                            ng-class="i18n.priorities[lead.priority].color" ng-disabled="disabled">
                        {{i18n.priorities[lead.priority].ua}} <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li class="dropdown-submenu pull-left" style="float: none !important;">
                            <a href="#"><i class="icon-speedometer"></i> {{i18n.CHANGE_PRIORITY}}</a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="priority in i18n.priorities">
                                    <a href="#" ng-class="'btn ' + priority.color"
                                       ng-click="setPriority(lead,priority)">{{priority.ua}}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-href="/edit-lead/{{lead.id}}">
                                <i class="icon-pencil"></i> {{i18n.EDIT}}
                            </a>
                        </li>
                        <li>
                            <a ng-href="/show-lead/{{lead.id}}">
                                <i class="icon-eye"></i> {{i18n.VIEW}}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-href="/add-task?lead={{lead.id}}&type=CALL">
                                <i class="icon-call-out"></i> {{i18n.MAKE_CALL}}
                            </a>
                        </li>
                        <li>
                            <a ng-href="/add-task?lead={{lead.id}}&type=EMAIL">
                                <i class="icon-envelope"></i> {{i18n.MAKE_EMAIL}}
                            </a>
                        </li>
                        <li>
                            <a ng-href="/add-task?lead={{lead.id}}&type=MEETING">
                                <i class="icon-users"></i> {{i18n.MAKE_MEETING}}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-href="/add-deal?lead={{lead.id}}">
                                <i class="icon-note"></i> {{i18n.MAKE_DEAL}}
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
            <td width="30%">
                <a ng-href="/show-manager/{{task.responsible.id}}">{{task.responsible.contact.fullName}}</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div bos-pager></div>