<!-- BEGIN PAGE CONTENT-->
<div class="row"><!--ng-controller="UserProfileController"-->
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <!--       <div class="profile-sidebar">
                   &lt;!&ndash; PORTLET MAIN &ndash;&gt;
            <div class="portlet light profile-sidebar-portlet">
                &lt;!&ndash; SIDEBAR TITLE &ndash;&gt;
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{task.title}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{task.type}}
                    </div>
                </div>
                &lt;!&ndash; END SIDEBAR USER TITLE &ndash;&gt;
        &lt;!&ndash; SIDEBAR BUTTONS &ndash;&gt;
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-circle green-haze btn-sm">Follow</button>
                    <button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>
                </div>
                &lt;!&ndash; END SIDEBAR BUTTONS &ndash;&gt;
        &lt;!&ndash; SIDEBAR MENU &ndash;&gt;
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li ui-sref-active="active">
                            <a ui-sref=".dashboard">
                                <i class="icon-home"></i>
                                Огляд </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref=".edit.info">
                                <i class="icon-settings"></i>{{i18n.EDIT}}</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref=".activity">
                                <i class="icon-settings"></i>{{i18n.ACTIVITY}}</a>
                        </li>

                        <li>
                            <a href="#/todo">
                                <i class="icon-check"></i>
                                Tasks </a>
                        </li>
                    </ul>
                </div>
                &lt;!&ndash; END MENU &ndash;&gt;
            </div>
            &lt;!&ndash; END PORTLET MAIN &ndash;&gt;
        </div>-->
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div ui-view class="profile-content fade-in-up">
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>
<!-- END PAGE CONTENT-->
<div class="row profile">
    <div class="col-md-8">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="font-green-sharp" ng-class="i18n.taskTypes[task.type].icon"></i>
                    <span class="caption-subject bold uppercase" ng-class="{done:task.result}">{{task.title}}</span>
                    <span class="caption-helper">{{i18n.dateCreated}}
                        <span am-time-ago="task.dateCreated"></span>
                    </span>
                </div>
                <div class="actions">
                    <a ng-click="checkTask(task)" class="btn btn-circle blue btn-sm" ng-class="{done:task.result}">
                        <i class="fa fa-check"></i> {{i18n.domain.task.check}} </a>

                    <a ng-click="checkTask(task)" class="btn btn-circle blue btn-sm" ng-class="{done:task.result}">
                        <i class="fa fa-check"></i> {{i18n.domain.task.check}} </a>
                </div>
            </div>
            <div class="portlet-body">{{task.description}}</div>
            <div class="margin-top-10 todo-tasklist-item"
                 ng-class="'todo-tasklist-item-border-' + i18n.taskStatuses[task.status].color">
                <!--<img class="todo-userpic pull-left" src="../../assets/admin/layout/img/avatar4.jpg" width="27px" height="27px">-->
                <!--<div class="todo-tasklist-item-title">-->
                <!--Slider Redesign-->
                <!--</div>-->
                <div class="todo-tasklist-item-text">
                    {{task.result}}
                </div>
                <!--<div class="todo-tasklist-controls pull-left">-->
                <!--<span class="todo-tasklist-date"><i class="fa fa-calendar"></i> 21 Sep 2014 </span>-->
                <!--<span class="todo-tasklist-badge badge badge-roundless">Urgent</span>-->
                <!--</div>-->
            </div>
        </div>
        <div bos-contact-info contact="task.lead.contact"></div>
    </div>
    <div class="col-md-4 profile-info">
        <ul class="list-inline">
            <li>{{i18n.timeLocale.from}} <i class="icon-calendar"></i> {{task.startDate|date:'short'}}</li>
            <li>{{i18n.timeLocale.to}} <i class="icon-calendar"></i> {{task.dueDate|date:'short'}}</li>
            <li>{{i18n.duration}} <i class="icon-calendar"></i> <span bos-date-diff from="task.startDate"
                                                                      to="task.dueDate"></span></li>
            <br>
            <li>{{i18n.domain.task.priority}} <i class="icon-speedometer"></i> <span class="label"
                                                                                     ng-class="'bg-' + i18n.taskPriorities[task.priority].color">{{i18n.taskPriorities[task.priority].ua}}</span>
            </li>
            <br>
            <li>{{i18n.domain.task.status}} <i class="icon-speedometer"></i> <span type="button" class="label"
                                                                                   ng-class="'bg-'+i18n.taskStatuses[task.status].color">
                {{i18n.taskStatuses[task.status].ua}}</span>
                </span><br>
            </li>
            <br>
            <li><i class="icon-user"></i> {{managerList[task.responsible.id].contact.fullName}}</li>
        </ul>
    </div>
</div>