<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<div class="row">-->
<!--<div class="col-md-3">-->
<!--<ul class="ver-inline-menu tabbable margin-bottom-10">-->

<!--</ul>-->

<!--<div class="margin-top-10">-->
<!--<a ng-click="checkTask(task)" class="btn blue btn-block"><i class="fa fa-check"></i>-->
<!--{{i18n.domain.task.check}}</a>-->
<!--</div>-->

<!--</div>-->
<!--<div class="col-md-9">-->
<div ng-include="'/bos/crm/core/task/views/profile.html'"></div>
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="row">

    <div class="col-md-12">
        <div class="portlet light bg-inverse">
            <div class="portlet-title tabbable-line">
                <div class="caption font-green-sharp">
                    <i class="font-green-sharp" ng-class="i18n.taskTypes[task.type].icon"></i>
                    {{i18n.taskTypes[task.type].ua}}
                </div>

                <ul class="nav nav-tabs blue">
                    <li ng-class="{active: tab == 0}">
                        <a href="#" ng-click="tab = 0"><i class="icon-bubbles"></i> {{i18n.domain.task.discussion}}</a>
                        <span class="after"></span>
                    </li>
                    <li ng-class="{active: tab == 1}">
                        <a href="#" ng-click="tab = 1"><i class="icon-plane"></i> {{i18n.subtasks}}</a>
                        <span class="after"></span>
                    </li>
                    <li ng-class="{active: tab == 2}">
                        <a href="#" ng-click="tab = 2"><i class="icon-users"></i> {{i18n.participants}}</a>
                        <span class="after"></span>
                    </li>
                    <li ng-class="{active: tab == 3}">
                        <a href="#" ng-click="tab = 3"><i class="icon-bell"></i> {{i18n.alarms}}</a>
                        <span class="after"></span>
                    </li>
                    <li ng-class="{active: tab == 4}">
                        <a href="#" ng-click="tab = 4"><i class="icon-book-open"></i> {{i18n.history}}</a>
                        <span class="after"></span>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div ng-show="tab == 0">
                    <div bos-comments></div>
                </div>
                <div ng-show="tab == 1">
                    <a ng-href="/add-task?supertask={{task.id}}&type=TASK"
                       class="btn btn-success btn-circle margin-bottom-10">
                        {{i18n.domain.task.addSubtask}}
                    </a>

                    <div bos-subtasks></div>
                </div>
                <div ng-show="tab == 2">
                    <div bos-participants></div>
                </div>
                <div ng-show="tab == 3">
                    <div bos-alarms></div>
                </div>
                <div ng-show="tab == 4">
                    <div bos-feeds></div>
                </div>
            </div>
        </div>

    </div>
</div>
