<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                </div>
                <ul class="nav nav-tabs">
                    <li ui-sref-active="active">
                        <a ui-sref=".info">{{i18n.contactInfo}}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref=".other">Other info</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_3" data-toggle="tab">Change Password</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_4" data-toggle="tab">Privacy Settings</a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body form">
                <form name="profileForm" ng-submit="save(lead)" class="form-horizontal">
                    <div ui-view class="form-body">
                    </div>

                    <div class="form-actions">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green-haze">Зберегти</button>
                                    <button type="button" class="btn default">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>