<div class="row">
    <div class="col-md-8">
        <div class="form-group"
             ng-class="{'has-error': (profileForm.fullName.$invalid || profileForm.fullName.$error.required) && profileForm.fullName.$dirty}">
            <label class="control-label col-md-3">Full Name</label>
            <bos-name-validation
                    account="{name: 'lead', field: 'contact.fullName', titleHelp: 'i18n.domain.contact.fullNameHelp'}"></bos-name-validation>
        </div>
    </div>

    <div class="col-md-4">
        <label class="control-label sr-only col-md-3">Gender</label>
        <input bs-switch ng-model="lead.contact.male" type="checkbox"
               switch-on-text="<i class='fa fa-male'></i>" switch-off-text="<i class='fa fa-female'></i>"
               switch-on-color="primary" switch-off-color="danger" switch-label-width="20" switch-handle-width="20">
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label class="col-md-3 control-label">Description</label>
            <div class="col-md-9">
                <textarea ng-model="lead.description" class="form-control" rows="3"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div bos-fields fields="lead.contact.fields" field-type="PHONE"><i class="icon-call-out"></i></div>
    </div>

    <div class="col-md-6">
        <div bos-fields fields="lead.contact.fields" field-type="EMAIL"><i class="icon-envelope"></i></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div bos-fields fields="lead.contact.fields" field-type="SOCIAL" change-fields="changeFields(data)">
            <i class="icon-globe"></i>
        </div>
    </div>
</div>

<h3 class="form-section"> {{i18n.domain.company.name[0]}}
    <small>(Якщо не вказується, то клієнт вважається фізичною особою)</small>
</h3>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">{{i18n.domain.lead.position[0]}}</label>

            <div class="col-md-8 input-icon">
                <i class="fa fa-briefcase"></i>
                <input type="text" class="form-control" placeholder="{{i18n.domain.lead.positionHelp}}"
                       ng-model="lead.position" name="position">
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">{{i18n.domain.company.name[0]}}</label>

            <div class="col-md-8">
                <input type="text" bos-entity-select entity="lead.company" bos-find-fn="findCompanyByName(term)"
                       class="form-control select2me">
            </div>
            <div ng-if="!lead.company.id" class="col-md-2 col-md-offset-4">
                <a href="#" ng-click="createCompany()" class="btn btn-link">
                    {{i18n.ADD}} <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<h3 class="form-section">{{i18n.statistics}}</h3>

<div class="row">
    <div class="col-md-12">


        <div class="form-group">
            <label class="control-static col-md-2">{{i18n.domain.lead.priority}}
                <span class="label" ng-class="'bg-'+i18n.priorities[lead.priority].color">
                    {{i18n.priorities[lead.priority].ua}}
                </span>
            </label>

            <div class="col-md-10">
                <!--<div class="btn-toolbar">-->
                <!--<div class="btn-group btn-group-solid">-->
                <button ng-repeat="p in i18n.priorities" ng-click="lead.priority=p.value"
                        popover="{{p.description}}" popover-title="{{p.ua}}" popover-trigger="mouseenter"
                        popover-placement="bottom"
                        class="btn" ng-class="p.color" type="button">{{p.value}}
                </button>
                <!--</div>-->
                <!--</div>-->

            </div>
            <!--<span class="help-block">-->
            <p>{{i18n.priorities[lead.priority].description}}</p>
            <!--</span>-->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-2 control-label">{{i18n.domain.lead.source}}</label>

            <div class="col-md-10">
                <select class="form-control" ng-model="lead.source">
                    <option ng-repeat="s in i18n.sources" value="{{s.name}}" ng-selected="s.name==lead.source">
                        {{s.ua}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>
