<form role="form" action="#">
<div class="form-group">
<label class="control-label">First Name</label>
<input type="text" placeholder="John" class="form-control"/>
</div>
<div class="form-group">
<label class="control-label">Last Name</label>
<input type="text" placeholder="Doe" class="form-control"/>
</div>
<div class="form-group">
<label class="control-label">Mobile Number</label>
<input type="text" placeholder="+1 646 580 DEMO (6284)" class="form-control"/>
</div>
<div class="form-group">
<label class="control-label">Interests</label>
<input type="text" placeholder="Design, Web etc." class="form-control"/>
</div>
<div class="form-group">
<label class="control-label">Occupation</label>
<input type="text" placeholder="Web Developer" class="form-control"/>
</div>
<div class="form-group">
<label class="control-label">About</label>
<textarea class="form-control" rows="3" placeholder="We are KeenThemes!!!"></textarea>
</div>
<div class="form-group">
<label class="control-label">Website Url</label>
<input type="text" placeholder="http://www.mywebsite.com" class="form-control"/>
</div>
<div class="margiv-top-10">
<a href="#" class="btn green-haze">
Save Changes </a>
<a href="#" class="btn default">
Cancel </a>
</div>
</form>

<!--&lt;!&ndash; CHANGE PASSWORD TAB &ndash;&gt;-->
<!--<div class="tab-pane" id="tab_1_3">-->
<!--<form action="#">-->
<!--<div class="form-group">-->
<!--<label class="control-label">Current Password</label>-->
<!--<input type="password" class="form-control"/>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="control-label">New Password</label>-->
<!--<input type="password" class="form-control"/>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="control-label">Re-type New Password</label>-->
<!--<input type="password" class="form-control"/>-->
<!--</div>-->
<!--<div class="margin-top-10">-->
<!--<a href="#" class="btn green-haze">-->
<!--Change Password </a>-->
<!--<a href="#" class="btn default">-->
<!--Cancel </a>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--&lt;!&ndash; END CHANGE PASSWORD TAB &ndash;&gt;-->
<!--&lt;!&ndash; PRIVACY SETTINGS TAB &ndash;&gt;-->
<!--<div class="tab-pane" id="tab_1_4">-->
<!--<form action="#">-->
<!--<table class="table table-light table-hover">-->
<!--<tr>-->
<!--<td>-->
<!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus..-->
<!--</td>-->
<!--<td>-->
<!--<label class="uniform-inline">-->
<!--<input type="radio" name="optionsRadios1" value="option1"/>-->
<!--Yes </label>-->
<!--<label class="uniform-inline">-->
<!--<input type="radio" name="optionsRadios1" value="option2" checked/>-->
<!--No </label>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--Enim eiusmod high life accusamus terry richardson ad squid wolf moon-->
<!--</td>-->
<!--<td>-->
<!--<label class="uniform-inline">-->
<!--<input type="checkbox" value=""/> Yes </label>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--Enim eiusmod high life accusamus terry richardson ad squid wolf moon-->
<!--</td>-->
<!--<td>-->
<!--<label class="uniform-inline">-->
<!--<input type="checkbox" value=""/> Yes </label>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--Enim eiusmod high life accusamus terry richardson ad squid wolf moon-->
<!--</td>-->
<!--<td>-->
<!--<label class="uniform-inline">-->
<!--<input type="checkbox" value=""/> Yes </label>-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->
<!--&lt;!&ndash;end profile-settings&ndash;&gt;-->
<!--<div class="margin-top-10">-->


<!--<a href="#" class="btn green-haze">-->
<!--Save Changes </a>-->
<!--<a href="#" class="btn default">-->
<!--Cancel </a>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--&lt;!&ndash; END PRIVACY SETTINGS TAB &ndash;&gt;-->
<!--</div>-->