<!--<h3 class="page-title">
    {{title}}
    <small>{{subtitle}}</small>
</h3>-->

<!--<div class="page-bar">-->
    <!--<div class="page-toolbar pull-left">
        <li ng-repeat="action in layout.toolbar" class="btn-group">
            <a ng-class="action.class" class="btn-fit-height" ng-href="{{action.link}}">
                <i ng-class="action.icon"></i> {{action.name}}</a>
        </li>
    </div>

    <ul class="page-breadcrumb">
        <li ng-repeat="crumb in layout.breadcrumbs">
            <i ng-class="crumb.icon"></i>
            <a ng-href="{{crumb.link}}">{{crumb.name}}</a>
            <i ng-show="!$last" class="fa fa-angle-right"></i>
        </li>
    </ul>-->

    <div class="page-toolbar">
        <div ng-show="layout.dateRanger" date-range-picker class="pull-right tooltips btn btn-fit-height grey-salt">
            <i class="icon-calendar"></i> <span>Choose date range</span> <i class="fa fa-angle-down"></i>
        </div>
        {{startDate}}
        <div ng-show="layout.exporter" class="btn-group pull-right" dropdown>
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle">
                <span>Експорт</span><i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-left" role="menu">
                <li ng-repeat="type in ['excel','pdf','csv','rtf']">
                    <a href="#" ng-click="report(type)">
                        <i class="fa fa-file-{{type}}-o"></i> в {{type}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
<!--
</div>-->
