<a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
    <div ng-if="myProfile!=null" bos-ava contact="myProfile.contact" class="img-circle"></div>
    <span class="username username-hide-on-mobile">{{myProfile.contact.fullName}}</span>
    <i class="fa fa-angle-down"></i>
</a>
<ul class="dropdown-menu dropdown-menu-default">
    <li>
        <a href="#/manager/{{myProfile.id}}/home">
            <i class="icon-user"></i> My Profile </a>
    </li>
    <li>
        <a href="#/calendar">
            <i class="icon-calendar"></i> My Calendar </a>
    </li>
    <li>
        <a href="#/task/schedule">
            <i class="icon-notebook"></i> My Schedule <span class="badge badge-danger">
							3 </span>
        </a>
    </li>
    <li>
        <a href="#/manager">
            <i class="icon-users"></i> Colleges<span class="badge badge-success">{{managerCount}}</span>
        </a>
    </li>
    <li class="divider">
    </li>
    <li>
        <a href="#">
            <i class="icon-lock"></i> Lock Screen </a>
    </li>
    <li>
        <a href="#" onclick="window.location = '/logout'"><i class="icon-key"></i> Log Out </a>
    </li>
</ul>