<div class="page-quick-sidebar-wrapper">
    <div class="page-quick-sidebar">
        <div class="nav-justified">
            <ul class="nav nav-tabs nav-justified">
                <li ng-class="{active:quickTab==1}">
                    <a href="#" ng-click="quickTab = 1">
                        Колеги <span class="badge badge-danger">{{managerCount-1}}</span>
                    </a>
                </li>
                <li ng-class="{active:quickTab == 2}">
                    <a href="#" ng-click="quickTab = 2">
                        Нагадування <span class="badge badge-success">{{alarms.length}}</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane page-quick-sidebar-chat page-quick-sidebar-content-item-shown active"
                     ng-show="quickTab == 1">
                    <div class="page-quick-sidebar-chat-users animate-if" ng-if="!chatOpened">
                        <!--<h3 class="list-heading">Колеги</h3>-->
                        <ul class="media-list list-items">
                            <li ng-repeat="manager in managerList" class="media" ng-hide="manager.id==profile.id"
                                ng-click="openChat(manager)">
                                <!--<div class="media-status">-->
                                <!--<span class="badge badge-success">8</span>-->
                                <!--</div>-->
                                <div ng-if="manager!=null" bos-ava contact="manager.contact" h="45" w="45"
                                     class="media-object"></div>

                                <div class="media-body">
                                    <h4 class="media-heading">{{manager.contact.fullName}}</h4>

                                    <div class="media-heading-sub">{{manager.position}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="page-quick-sidebar-item animate-if" ng-if="chatOpened">
                        <div class="page-quick-sidebar-chat-user">
                            <div class="page-quick-sidebar-nav">
                                <a href="#" ng-click="closeChat()" class="page-quick-sidebar-back-to-list"><i
                                        class="icon-arrow-left"></i>Назад</a>
                            </div>

                            <div class="page-quick-sidebar-chat-user-messages" bos-scroll>
                                <div ng-repeat="message in messages"
                                     ng-class="{'post out':message.author.id == profile.id, 'post in': message.author.id != profile.id}">
                                    <div ng-if="managerList[message.author.id]!=null" bos-ava
                                         contact="managerList[message.author.id].contact" height="45" width="45"
                                         class="avatar img-responsive"></div>

                                    <div class="message">
                                        <span class="arrow"></span>
                                        <a ng-href="/show-manager/{{message.author.id}}" class="name">
                                            {{managerList[message.author.id].contact.fullName}}</a>
                                        <br>
                                        <span class="datetime">{{message.dateCreated |date:'dd MMMM yyyy о HH:mm'}}</span>
                                        <span class="body">{{message.text}}</span>
                                    </div>
                                </div>
                            </div>

                            <form class="page-quick-sidebar-chat-user-form" ng-submit="send(message)">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="message.text"
                                           placeholder="Введіть повідомлення тут...">

                                    <div class="input-group-btn">
                                        <button type="submit" class="btn blue"><i class="icon-paper-clip"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="tab-pane page-quick-sidebar-alerts active" ng-show="quickTab == 2">
                    <div class="page-quick-sidebar-alerts-list">
                        <ul class="feeds list-items">
                            <h3 class="list-heading">Завдання</h3>
                            <li ng-repeat="alarm in alarms">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-info">
                                                <i class="fa fa-bell-o"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
                                                {{alarm.task.title}} <a ng-href="/edit-task/{{alarm.task.id}}"><span
                                                    class="label label-sm label-info">
                                         <i class="fa fa-share"></i>
                                    </span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        <span am-time-ago="alarm.date"></span>
                                        <!--{{alarm.date | date:'dd.MM.yyyy HH:mm'}}-->
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
