<!-- BEGIN PORTLET -->
<div class="portlet light ">
    <div class="portlet-title">
        <!--<div class="caption caption-md">-->
        <!--<i class="icon-bar-chart theme-font hide"></i>-->
        <!--<span class="caption-subject font-blue-madison bold uppercase">Your Activity</span>-->
        <!--<span class="caption-helper hide">weekly stats...</span>-->
        <!--</div>-->
        <!--<div class="actions">-->
        <!--<div class="btn-group btn-group-devided" data-toggle="buttons">-->
        <!--<label class="btn btn-transparent grey-salsa btn-circle btn-sm active">-->
        <!--<input type="radio" name="options" class="toggle" id="option1">Today</label>-->
        <!--<label class="btn btn-transparent grey-salsa btn-circle btn-sm">-->
        <!--<input type="radio" name="options" class="toggle" id="option2">Week</label>-->
        <!--<label class="btn btn-transparent grey-salsa btn-circle btn-sm">-->
        <!--<input type="radio" name="options" class="toggle" id="option3">Month</label>-->
        <!--</div>-->
        <!--</div>-->
        <div class="inputs">
            <div class="portlet-input input-inline input-large">
                <div class="input-icon right">
                    <i class="icon-magnifier"></i>
                    <input type="text" data-ng-change="fireFilter(pager.simple)" ng-model="pager.simple"
                           ng-model-options="{debounce:100}" class="form-control input-circle" placeholder="Search...">
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <!--<div class="row number-stats margin-bottom-30">-->
        <!--<div class="col-md-6 col-sm-6 col-xs-6">-->
        <!--<div class="stat-left">-->
        <!--<div class="stat-chart">-->
        <!--&lt;!&ndash; do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break &ndash;&gt;-->
        <!--<div id="sparkline_bar"></div>-->
        <!--</div>-->
        <!--<div class="stat-number">-->
        <!--<div class="title">-->
        <!--Всього-->
        <!--</div>-->
        <!--<div class="number">-->
        <!--{{count}}-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-6 col-sm-6 col-xs-6">-->
        <!--<div class="stat-right">-->
        <!--<div class="stat-chart">-->
        <!--&lt;!&ndash; do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break &ndash;&gt;-->
        <!--<div id="sparkline_bar2"></div>-->
        <!--</div>-->
        <!--<div class="stat-number">-->
        <!--<div class="title">-->
        <!--Нових-->
        <!--</div>-->
        <!--<div class="number">-->
        <!--{{count}}-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="table-scrollable table-scrollable-borderless">
            <table class="table table-hover table-light">
                <thead>
                <tr class="uppercase">
                    <th colspan="2" width="20%"><i class="icon-user font-blue"></i>
                <span sorter sort="contact.fullName" filter="filter" paging="pager">
                     {{i18n.domain.contact.fullName}}</span>
                    </th>
                    <th width="20%"><i class="icon-screen-smartphone"></i> {{i18n.domain.contact.phone}}</th>
                    <th width="20%"><i class="icon-envelope"></i> {{i18n.domain.contact.email}}</th>
                    <th width="20%" class="hidden-xs hidden-sm"><i class="icon-briefcase font-blue"></i>
                        <span sorter sort="company.title" filter="filter"
                              paging="pager">{{i18n.domain.company.name[0]}}</span>
                    </th>
                    <th width="10%"><i class="icon-speedometer font-blue"></i>
                        <span sorter sort="priority" filter="filter"
                              paging="pager">{{i18n.domain.lead.status[0]}}</span></th>
                    <th width="10%" class="hidden-xs hidden-sm hidden-md"><!--<i class="fa fa-calendar font-blue"></i>-->
                        <span sorter sort="contact.dateCreated" filter="filter"
                              paging="pager">{{i18n.dateCreated}}</span>
                    </th>
                </tr>
                </thead>
                <tr ng-repeat="lead in data" class="repeated-item" style="cursor: pointer">
                    <td class="fit">
                        <img bos-ava contact="lead.contact" class="user-pic" h="31" w="31">
                    </td>
                    <td>
                        <a href="#/lead/{{lead.id}}/home" class="primary-link">{{lead.contact.fullName}}</a>
                    </td>
                    <td><span
                            ng-repeat="field in lead.contact.fields | filter:{type:'PHONE'}">{{field.value}}<br></span>
                    </td>
                    <td><span
                            ng-repeat="field in lead.contact.fields | filter:{type:'EMAIL'}">{{field.value}}<br></span>
                    </td>
                    <td width="15%" class="hidden-xs hidden-sm"><a ng-href="/show-company/{{lead.company.id}}">{{lead.company.title}}</a>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" dropdown-menu-hover class="btn btn-sm dropdown-toggle"
                                    ng-class="i18n.priorities[lead.priority].color" ng-disabled="disabled">
                                {{i18n.priorities[lead.priority].ua}} <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li class="dropdown-submenu pull-left" style="float: none !important;">
                                    <a href="#"><i class="icon-speedometer"></i> {{i18n.CHANGE_PRIORITY}}</a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="priority in i18n.priorities">
                                            <a href="#" ng-class="'btn ' + priority.color"
                                               ng-click="setPriority(lead,priority)">{{priority.ua}}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a ng-href="/edit-lead/{{lead.id}}">
                                        <i class="icon-pencil"></i> {{i18n.EDIT}}
                                    </a>
                                </li>
                                <li>
                                    <a ng-href="/show-lead/{{lead.id}}">
                                        <i class="icon-eye"></i> {{i18n.VIEW}}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a ng-href="/add-task?lead={{lead.id}}&type=CALL">
                                        <i class="icon-call-out"></i> {{i18n.MAKE_CALL}}
                                    </a>
                                </li>
                                <li>
                                    <a ng-href="/add-task?lead={{lead.id}}&type=EMAIL">
                                        <i class="icon-envelope"></i> {{i18n.MAKE_EMAIL}}
                                    </a>
                                </li>
                                <li>
                                    <a ng-href="/add-task?lead={{lead.id}}&type=MEETING">
                                        <i class="icon-users"></i> {{i18n.MAKE_MEETING}}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a ng-href="/add-deal?lead={{lead.id}}">
                                        <i class="icon-note"></i> {{i18n.MAKE_DEAL}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td width="10%" align="center" class="hidden-xs hidden-sm hidden-md">{{lead.contact.dateCreated |
                        date:'mediumDate'}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div bos-pager></div>
</div>
<div ui-view="leads-import" class="leads-import fade-in-up">
</div>
<!-- END PORTLET -->
