<!-- BEGIN PAGE CONTENT-->
<div class="row"><!--ng-controller="UserProfileController"-->
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img bos-ava contact="lead.contact" class="img-responsive">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{lead.contact.fullName}}
                    </div>
                    <div class="profile-usertitle-job">
                        <p>{{lead.position}}</p><p><small ng-if="lead.company && lead.position"> in </small></p> <p>{{lead.company.title}}</p>
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <!--<button type="button" class="btn btn-circle green-haze btn-sm">Follow</button>-->
                    <button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>
                    <div class="btn-group">
                        <button type="button" dropdown-menu-hover class="btn btn-circle btn-sm dropdown-toggle"
                                ng-class="i18n.priorities[lead.priority].color" ng-disabled="disabled">{{i18n.priorities[lead.priority].ua}} <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a ng-href="/add-task?lead={{lead.id}}&type=CALL">
                                    <i class="icon-call-out"></i> {{i18n.MAKE_CALL}}
                                </a>
                            </li>
                            <li>
                                <a ng-href="/add-task?lead={{lead.id}}&type=EMAIL">
                                    <i class="icon-envelope"></i> {{i18n.MAKE_EMAIL}}
                                </a>
                            </li>
                            <li>
                                <a ng-href="/add-task?lead={{lead.id}}&type=MEETING">
                                    <i class="icon-users"></i> {{i18n.MAKE_MEETING}}
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a ng-href="/add-deal?lead={{lead.id}}">
                                    <i class="icon-note"></i> {{i18n.MAKE_DEAL}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li ui-sref-active="active">
                            <a ui-sref=".dashboard">
                                <i class="icon-home"></i>
                                Profile </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref=".edit.info">
                                <i class="icon-settings"></i>Edit</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref=".activity">
                                <i class="icon-list"></i>Activity</a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div ui-view class="profile-content fade-in-up">
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>
<!-- END PAGE CONTENT-->